Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix search template generation when Post Search feature is disabled
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update hotfix release instructions
  CONTRIBUTING.md
Due: none

Use an env var to check if in an EP.io env
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump version + Changelog + .pot file
  CHANGELOG.md
  elasticpress.php
  lang/elasticpress.pot
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Run checks on hotfix releases
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/secrets-scan.yml
  .github/workflows/test.yml
Due: none

Use semver compatible version on package* files
  package-lock.json
  package.json
Due: none

Try to catch the report in a different folder
  .github/workflows/playwright.yml
Due: none

E2E: Force click + do not click on view post button
  tests/e2e/src/utils.ts
Due: none

5.3.2.1 release date
  CHANGELOG.md
  readme.txt
Due: none

deploy: 483aa7a796ad72141265e5852dbac8902bb2ac5a
  elasticpress.php.html
  ep_admin_wp_query_integration.html
  ep_ajax_wp_query_integration.html
  ep_default_language.html
  ep_host.html
  ep_indexable_sites.html
  ep_indexable_sites_args.html
  ep_is_indexing.html
  ep_is_indexing_wpcli.html
  ep_is_integrated_request.html
  ep_request_id.html
  ep_request_id_base.html
  includes_utils.php.html
Due: none

5.3.2.2 - Fix deployment
  .github/workflows/build-and-tag.yml
  CHANGELOG.md
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Grab version from elasticpress.php
  .github/workflows/build-and-tag.yml
Due: none

deploy: e480c3df3655579a1dbe9fc25bc53b6684269658
  elasticpress.php.html
Due: none

Cleanup
  tests/e2e/src/wordpress-files/test-plugins/custom-search-form.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Optimize mb_strlen calls
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Lint fix
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

GET Route for Featu re Setting Refresh
  assets/js/features/provider.js
  includes/classes/REST/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert SearchAlgorithms change
  includes/classes/SearchAlgorithms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update tests
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/simulate-setting-dependency.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New PRs
  CHANGELOG.md
  CREDITS.md
Due: none

readme.txt update
  readme.txt
Due: none

Adjust tests
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/simulate-setting-dependency.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update node packages
  package-lock.json
Due: none

Override webpack version
  package-lock.json
  package.json
Due: none

Update Tested up to
  readme.txt
Due: none

fix basic status in the admin bar
  includes/classes/AdminBar.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

use alt method
  includes/classes/AdminBar.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Settings notice layout issue
  assets/js/features/style.css
Due: 10up-toolkit lint-style

add unit tests
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add e2e tests
  .wp-env.json
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-excluded-post-types.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-excluded-term-ids.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add e2e tests
  tests/e2e/src/specs/instant-results.spec.ts
Due: none

add unit test
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add crate-ci/typos
  .gitattributes
  .github/workflows/typos.yml
  .typos.toml
Due: none

Refine to scan only standalone words
  .github/workflows/typos.yml
  .typos.toml
Due: none

add e2e tests for did you mean block
  .wp-env.json
  tests/e2e/src/specs/did-you-mean.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/enable-did-you-mean-block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix custom order re-ordering for autosuggest
  .wp-env.json
  assets/js/autosuggest/index.js
  includes/classes/Feature/Autosuggest/Autosuggest.php
  tests/php/features/TestAutosuggest.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix linting issue
  tests/e2e/src/specs/did-you-mean.spec.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
