Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add #4239 to the changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Add #4238 to the changelog
  CHANGELOG.md
  readme.txt
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

Update the release date
  CHANGELOG.md
  readme.txt
Due: none

feat(ui): add js/css mappings
  webpack.config.js
Due: 10up-toolkit lint-js

Fix typos
  CHANGELOG.md
  assets/js/sync-ui/components/include.js
  includes/classes/Command.php
  includes/classes/ElasticPressIo.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/IndexHelper.php
  includes/classes/Indexable.php
  includes/compat.php
  tests/e2e/src/specs/search/synonyms.spec.ts
  tests/e2e/src/specs/status-report.spec.ts
  tests/php/TestAdminNotices.php
  tests/php/features/TestFacet.php
  tests/php/features/TestProtectedContent.php
  tests/php/includes/acf-pro-functions.php
  tests/php/includes/classes/BaseTestCase.php
  tests/php/includes/classes/FunctionsCallCounter.php
  tests/php/includes/classes/factory/ProductFactory.php
  tests/php/indexables/TestPost.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New elasticpress_general_ep_screens filter
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Screen.php
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix the install page
  includes/partials/install-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust playwright report
  .github/workflows/playwright.yml
Due: none

try github annotations
  tests/e2e/src/playwright.config.ts
Due: none

Update playwright and try to fix the upload-artifact job
  .github/workflows/playwright.yml
  package-lock.json
  tests/e2e/package.json
  tests/e2e/src/playwright.config.ts
Due: none

Open published post in the same window
  tests/e2e/src/utils.ts
Due: none

Eslint fix
  tests/e2e/src/utils.ts
Due: none

Fix: Create search template for all sites.
  includes/classes/Command.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update label for bulk request timeout in ElasticPress status report
  includes/classes/StatusReport/ElasticPress.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update label
  includes/classes/StatusReport/ElasticPress.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Don't set index in the constructor
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Disable Custom Search Results button during the loading state
  assets/js/ordering/pointers.js
Due: 10up-toolkit lint-js

Try to fix intermitent e2e failures
  tests/e2e/src/specs/search/search.spec.ts
Due: none

Introduce new ep_asciifolding filter
  includes/mappings/comment/7-0.php
  includes/mappings/comment/initial.php
  includes/mappings/post/5-2.php
  includes/mappings/post/7-0.php
  includes/mappings/term/7-0.php
  includes/mappings/term/initial.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  tests/php/indexables/TestComment.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add since
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Wait so we are sure the filter was added
  tests/e2e/src/specs/instant-results.spec.ts
Due: none

Fix node warning
  bin/wp-env-cli
Due: none

Conditionally install ACF Pro
  .github/workflows/playwright.yml
Due: none

Retry to install ACF Pro if composer failed
  bin/setup-e2e-env.sh
Due: none

Requirement Status Filters
  includes/classes/Feature.php
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  includes/classes/FeatureRequirementsStatus.php
  tests/php/includes/classes/FeatureTest.php
  tests/php/includes/classes/mock/DependentFeatureTest.php
  tests/php/includes/classes/mock/Global/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Keep the sync running when code outputs directly in the post content.
  .wp-env.json
  assets/js/sync/src/hooks.js
  tests/e2e/src/specs/dashboard-sync.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/echo-shortcode.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New "temporarily disabled" feature status
  assets/js/features/components/feature.js
  includes/classes/Command.php
  includes/classes/Feature.php
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/FeatureRequirementsStatus.php
  includes/classes/Features.php
  includes/classes/Upgrades.php
  includes/partials/install-page.php
  tests/php/TestFeatureActivation.php
  tests/php/features/TestAcfRepeater.php
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestComments.php
  tests/php/features/TestDidYouMean.php
  tests/php/features/TestInstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust unit tests
  tests/php/TestCommands.php
  tests/php/features/TestAcfRepeater.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Ignore order in test_user_can_only_see_their_own_private_posts
  tests/php/features/TestProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Enabling Protected Content only displays a message when not using EP.io
  tests/e2e/src/specs/wp-cli.spec.ts
Due: none

Unit tests
  tests/php/TestFeatureActivation.php
  tests/php/TestFeatureRequirementsStatus.php
  tests/php/bootstrap.php
  tests/php/includes/classes/FeatureTest.php
  tests/php/includes/classes/FeatureTestB.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

e2e tests for temp disabled features
  .wp-env.json
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/utils.ts
  tests/e2e/src/wordpress-files/test-plugins/temporarily-disable-autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
