Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

remove temp diag, continue with 7.0 fixes
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
Due: none

Trim down changes, fix WooCommerce issue
  includes/classes/Feature/WooCommerce/Products.php
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
  tests/e2e/src/utils.ts
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

getEditorFrame changes
  tests/e2e/src/utils.ts
Due: none

Remove padded timeout
  tests/e2e/src/playwright.config.ts
Due: none

fix(i18n): resolve translation warnings in make-pot
  assets/js/features/components/control.js
  assets/js/instant-results/components/results/pagination.js
  assets/js/synonyms/apps/synonyms-settings.js
Due: 10up-toolkit lint-js

enhancement: hide Subscription Token value on settings page
  includes/classes/Screen/Settings.php
  includes/partials/settings-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix: sync posts to Elasticsearch when Post Search is disabled
  includes/classes/Feature/Search/Search.php
  includes/classes/Features.php
  tests/php/indexables/TestPostSyncWithoutSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

feature(instant-results): add filters for labels, options, components, and config
  assets/js/api-search/index.js
  assets/js/instant-results/components/facets/facet.js
  assets/js/instant-results/components/facets/post-type-facet.js
  assets/js/instant-results/components/facets/price-range-facet.js
  assets/js/instant-results/components/results/did-you-mean.js
  assets/js/instant-results/components/tools/sort.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

feat(search-ordering): allow removing posts from custom search results
  assets/js/ordering/pointers.js
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  tests/php/features/TestSearchOrdering.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

feat(autosuggest): enable autosuggest in the WordPress admin
  includes/classes/Feature/Autosuggest/Autosuggest.php
  tests/php/features/TestAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(search): add keyword boost support for post search
  includes/classes/Feature/Search/Search.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(did-you-mean): suppress suggestion when query has results or matches original term
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(did-you-mean): include post_title in phrase suggester
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update WooCommerce
  composer.lock
Due: none

Fix Unit tests
  composer.json
  composer.lock
Due: none

Enabel HPOS on bootstrap
  tests/php/bootstrap.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Downgrade WooCommerce
  composer.lock
Due: none

Fix Tests
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/bootstrap.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  composer.lock
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/e2e/src/specs/woocommerce.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

test(instant-results): add E2E tests for new filters
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-components.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-config.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-label.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-post-type-options.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-price-range.php
  tests/e2e/src/wordpress-files/test-plugins/filter-instant-results-response.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(search-ordering): address CodeRabbit feedback on re-add flow
  assets/js/ordering/pointers.js
Due: 10up-toolkit lint-js

fix(search-ordering): restore post title in pointer list, fix excluded_posts key mismatch
  assets/js/ordering/pointers.js
Due: 10up-toolkit lint-js

fix(i18n): use _x() with context disambiguation in control.js
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

test(post-sync): add query-integration regression test
  tests/php/indexables/TestPostSyncWithoutSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

enhancement(settings): harden Subscription Token handling
  CHANGELOG.md
  includes/classes/Screen/Settings.php
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(did-you-mean): add filter to restore suggestion when results exist
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: max_num_pages becomes negative when posts_per_page is -1
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Respect ep_is_facetable false to disable faceting on queries
  includes/classes/Feature/Facets/Facets.php
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Vector embeddings test fix
  assets/js/embeddings/components/fieldsets/embedded-fields.js
  tests/e2e/src/block-editor.ts
Due: 10up-toolkit lint-js

Move SearchAlgorithm feature into SemanticSearch; Add feature priority config class
  elasticpress.php
  includes/classes/Feature/SearchAlgorithm.php
  includes/classes/Feature/SemanticSearch/SemanticSearch.php
  includes/classes/FeatureOverrides.php
  tests/e2e/src/specs/ai-search-summary.spec.ts
  tests/e2e/src/specs/semantic-search.spec.ts
  tests/e2e/src/specs/vector-embeddings.spec.ts
  tests/e2e/src/utils.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Restore changelog
  CHANGELOG.md
Due: none

Remove php composer change
  composer.json
Due: none

rename to FeaturePrecedence
  elasticpress.php
  includes/classes/FeaturePrecedence.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

restore pot lang file
  lang/elasticpress.pot
Due: none

Resolve unit test and linting error
  includes/classes/Feature/SemanticSearch/SemanticSearch.php
  tests/e2e/src/specs/semantic-search.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Semantic search e2e test fix
  includes/classes/Feature/SemanticSearch/SemanticSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(woocommerce): subtract tax from price filter bounds
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(i18n): match translator comments to name count
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

use the eslint-import-resolver-typescript resolver
  .eslintrc.js
  package-lock.json
  package.json
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
