Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Fix E2E tests
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Fix test
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Fix: Notice while updating a term is not displaying when plugin is network activated
  includes/classes/AdminNotices.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/dashboard.php
  tests/php/TestAdminNotices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Rename facet to filter
  .wp-env.json
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/wordpress-files/test-plugins/filter-instant-results-category-terms.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change ignore ruleset
  .stylelintrc
  assets/css/facets.css
  assets/css/instant-results/range-slider.css
Due: 10up-toolkit lint-style

Add support to number fields in the Features settings
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add ep_remote_request hook when blocking is true.
  includes/classes/Elasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Index orders
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add include, lower_limit_object_id and higher_limit_object_id for comments
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestComment.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial commit of the ACF Repeater feature
  elasticpress.php
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Check if the plugin is installed
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Index repeater fields as JSON objects
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Updated copy and option name
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test Features REST controller
  tests/php/REST/TestFeatures.php
  tests/php/bootstrap.php
  tests/php/includes/classes/mock/SettingsSchemaFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change features registration approach
  tests/php/REST/TestFeatures.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit Tests
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  tests/php/bootstrap.php
  tests/php/features/TestAcfRepeater.php
  tests/php/includes/acf-pro-functions.php
  tests/php/includes/classes/FunctionsCallCounter.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

e2e tests
  .github/workflows/cypress-tests.yml
  .wp-env.json
  bin/setup-cypress-env.sh
  tests/cypress/fixtures/acf-repeater-field-test.json
  tests/cypress/integration/features/acf-repeater.cy.js
  tests/cypress/support/index.js
  tests/cypress/wordpress-files/composer.json
  tests/cypress/wordpress-files/test-docs/content-example.xml
Due: 10up-toolkit lint-js

Save the post, so the repeated field is indexed
  tests/cypress/integration/features/acf-repeater.cy.js
Due: 10up-toolkit lint-js

Close the welcome modal
  tests/cypress/integration/features/acf-repeater.cy.js
Due: 10up-toolkit lint-js

Update the doc URL
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use a forked version of wp-hookdoc that does not need taffy
  package-lock.json
  package.json
Due: none

Update some node packages
  package-lock.json
  package.json
Due: none

Update focus-trap-react
  assets/js/instant-results/components/common/modal.js
  package-lock.json
  package.json
Due: 10up-toolkit lint-js

Update eslint-plugin-cypres
  package-lock.json
  package.json
Due: none

Update some composer packages
  composer.lock
Due: none

Update yoast/phpunit-polyfills and fix facet-related test
  composer.json
  composer.lock
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update brianhenryie/strauss
  composer.json
  composer.lock
Due: none

Update chart.js
  assets/js/stats.js
  package-lock.json
  package.json
Due: 10up-toolkit lint-js

Initial update of min WP version
  .github/hookdoc-tmpl/README.md
  .github/workflows/cypress-tests.yml
  README.md
  bin/setup-cypress-env.sh
  elasticpress.php
  tests/cypress/support/commands.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

register_block_bindings_source is 6.5+
  bin/setup-cypress-env.sh
Due: none

WP 6.2 fixes
  tests/cypress/support/commands/block-editor.js
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Update node packages
  package-lock.json
Due: none

Update 10up-toolkit and @hello-pangea/dnd
  package-lock.json
  package.json
Due: none

Update version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial changelog of EP 5.2.0
  CHANGELOG.md
  CREDITS.md
Due: none

Add #4083 to the changelog
  CHANGELOG.md
Due: none

Support PHP 8.4 - Updates OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  includes/classes/Indexable/Comment/Comment.php
  tests/php/indexables/TestComment.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
