Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix comments tests
  tests/e2e/specs/indexables/comments.spec.ts
Due: none

Disable indexables after their tests
  tests/e2e/specs/indexables/comments.spec.ts
  tests/e2e/specs/indexables/terms.spec.ts
Due: none

EP.io adjustments
  tests/e2e/specs/indexables/comments.spec.ts
  tests/e2e/utils.ts
Due: none

Target specific post
  tests/e2e/specs/search/search.spec.ts
Due: none

Introduce new Query arguments
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Publish the playwright package on npm
  .github/workflows/publish-playwright-utils.yml
  tests/e2e/README.md
Due: none

Attempt to fix dependencies
  package-lock.json
  package.json
  tests/e2e/package.json
Due: none

Run npm ci on the root dir
  .github/workflows/publish-playwright-utils.yml
Due: none

Fix tests
  tests/php/features/TestFacet.php
  tests/php/features/TestFacetTypeDate.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
  tests/php/features/TestFacet.php
  tests/php/features/TestFacetTypeDate.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add extensions so it can be used as a package
  tests/e2e/src/fixtures.ts
  tests/e2e/src/index.ts
  tests/e2e/src/specs/acf-repeater.spec.ts
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/specs/custom-results.spec.ts
  tests/e2e/src/specs/dashboard-sync.spec.ts
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/specs/general.spec.ts
  tests/e2e/src/specs/global.setup.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
  tests/e2e/src/specs/indexables/post.spec.ts
  tests/e2e/src/specs/indexables/terms.spec.ts
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
  tests/e2e/src/specs/search/synonyms.spec.ts
  tests/e2e/src/specs/search/weighting.spec.ts
  tests/e2e/src/specs/status-report.spec.ts
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/e2e/src/specs/wp-basic.spec.ts
  tests/e2e/src/specs/wp-cli.spec.ts
  tests/e2e/src/utils.ts
  tests/e2e/tsconfig.json
Due: none

Bump elasticpress-playwright-utils
  tests/e2e/package.json
Due: none

Minor change
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Introduce new ep_skip_search_exclusions argument
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Introduce new ep_intercept_request argument support
  includes/classes/Elasticsearch.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add the function back
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add the function back
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Disable the no-unresolved rule for now
  tests/e2e/.eslintrc.cjs
Due: none

Add a README to e2e tests
  tests/e2e/README.md
  tests/e2e/package.json
Due: none

Remove commented code
  tests/e2e/src/playwright.config.ts
Due: none

Clean up old feature settings code
  assets/js/instant-results/admin/components/facet-selector.js
  assets/js/instant-results/admin/config.js
  assets/js/instant-results/admin/index.js
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  package.json
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestComments.php
  tests/php/features/TestSearchOrdering.php
  tests/php/includes/classes/FeatureTest.php
  tests/php/includes/classes/mock/Global/Feature.php
  tests/php/includes/classes/mock/SettingsSchemaFeature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  assets/css/instant-results/result.css
  assets/js/instant-results/components/common/image.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Update mapping and add tests
  includes/classes/Indexable/Post/Post.php
  includes/mappings/post/5-2.php
  includes/mappings/post/7-0.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for an array value in the orderby_meta_mapping filter
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Introduce ElasticPressIoTemplateManager class
  includes/classes/ElasticPressIoTemplateManager.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust Feedback
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust Feedback
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust Feedback
  includes/classes/Feature/Autosuggest/Autosuggest.php
  tests/php/features/TestAutosuggest.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust Feedback
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Run Test agains Es 9.1.3
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Due: none

Bump supported ES version
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  includes/classes/AdminNotices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  includes/classes/REST/MetaRange.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  includes/classes/Feature/Facets/Facets.php
  includes/classes/REST/MetaRange.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
