Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s"
	]
}

Use arrow function.
  includes/classes/REST/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Store additional syncs info
  includes/classes/Command.php
  includes/classes/IndexHelper.php
  includes/classes/REST/Sync.php
  includes/classes/Screen/Sync.php
  includes/classes/StatusReport/LastSync.php
  includes/classes/Upgrades.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move Related Posts endpoint to controller.
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/REST/RelatedPosts.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Delete unused endpoint.
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move facet API endpoints to a controller.
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
  includes/classes/REST/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move tokens API endpoint to controller.
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/REST/Token.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move custom results API to controller..
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/REST/SearchOrdering.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Arg descriptions, consistent method names.
  includes/classes/REST/Comments.php
  includes/classes/REST/Facets.php
  includes/classes/REST/RelatedPosts.php
  includes/classes/REST/SearchOrdering.php
  includes/classes/REST/Sync.php
  includes/classes/REST/Token.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Flag autosuggest template query as fake
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Make sure post__not_in is translated into an array, not an object
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix docblock for get_option return type
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

New constant + reorder things
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check if $query['request'] is an array
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rename option and method
  includes/classes/IndexHelper.php
  includes/classes/Upgrades.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

small refactor
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix tests
  tests/php/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move 5.0.0 upgrade routine to main comment
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Settings schema
  .github/workflows/lint.yml
  .lintstagedrc.json
  composer.json
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/TestFeature.php
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestDidYouMean.php
  tests/php/features/TestFacet.php
  tests/php/features/TestInstantResults.php
  tests/php/features/TestSearch.php
  tests/php/features/WooCommerce/TestWooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Do not extend a Test class
  tests/php/features/WooCommerce/TestWooCommerce.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
  tests/php/features/WooCommerce/WooCommerceBaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add date to log messages.
  assets/js/sync/index.js
Due: 10up-toolkit lint-js

Update Sync provider to support syncing with args.
  assets/js/sync/index.js
  assets/js/sync/src/hooks.js
Due: 10up-toolkit lint-js

Create provider component for settings screens.
  assets/js/settings-screen/index.js
  assets/js/settings-screen/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Add clear log method to Sync provider.
  assets/js/sync/index.js
Due: 10up-toolkit lint-js

Update tests.
  tests/cypress/integration/dashboard-sync.cy.js
Due: 10up-toolkit lint-js

Fix tests.
  assets/js/sync-ui/config.js
  assets/js/sync/index.js
  includes/classes/Screen/Sync.php
  tests/cypress/integration/dashboard-sync.cy.js
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/protected-content.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Manually enqueue facet meta range if in < WP 6.1
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rephrase docblock sentence
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use feature-agnostic endpoints.
  assets/js/blocks/related-posts/Edit.js
  assets/js/blocks/store.js
  includes/classes/Feature/Facets/Facets.php
  includes/classes/REST/Facets.php
  includes/classes/REST/MetaKeys.php
  includes/classes/REST/MetaRange.php
  includes/classes/REST/RelatedPosts.php
  includes/classes/REST/SearchOrdering.php
  includes/classes/REST/Taxonomies.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initial changelog for 4.7.2
  CHANGELOG.md
  CREDITS.md
Due: none

Several fixes
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust tests
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add options to decay when WC is enabled
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust test
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix test (again)
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

editable => readonly
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove test attribute.
  assets/js/sync-ui/components/include.js
Due: 10up-toolkit lint-js

Add missing properties for PHP 8.2 (#203)
  includes/classes/Feature/Facets/Block.php
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

New ElasticsearchErrorInterpreter class
  includes/classes/ElasticsearchErrorInterpreter.php
  includes/classes/IndexHelper.php
  includes/classes/StatusReport/FailedQueries.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s
