Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update .pot file
  lang/elasticpress.pot
Due: none

Set the release date
  CHANGELOG.md
  readme.txt
Due: none

Do not verify files while creating the tag
  .github/workflows/build-and-tag.yml
Due: none

Fix filter name in the changelog
  CHANGELOG.md
  readme.txt
Due: none

Use only the body to build the cache key
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update Cypress version
  package-lock.json
  package.json
Due: none

Update @4tw/cypress-drag-drop
  package-lock.json
  package.json
Due: none

New problem on WSL
  tests/cypress/README.md
Due: none

Bump version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

4.5.2 Initial changelog
  CHANGELOG.md
Due: none

Introduce filter ep_enable_query_integration_during_indexing
  includes/classes/Indexable/Comment/QueryIntegration.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/classes/Indexable/Term/QueryIntegration.php
  includes/classes/Indexable/User/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Allow query integration while indexing because we have versioning. (#197)
  includes/classes/Indexable/Comment/QueryIntegration.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/classes/Indexable/Term/QueryIntegration.php
  includes/classes/Indexable/User/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update the "no response" automatic message
  .github/workflows/no-response.yml
Due: none

Changelog updates
  CHANGELOG.md
  readme.txt
Due: none

Update the pot file
  lang/elasticpress.pot
Due: none

Change message
  includes/classes/QueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Tests for the maybe_add_notice method
  tests/php/TestQueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix tests
  tests/php/TestQueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

More fixes
  includes/classes/QueryLogger.php
  tests/php/TestQueryLogger.php
  tests/php/features/TestSearchOrdering.php
  tests/php/includes/classes/BaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Escape Sync URL
  includes/classes/QueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: Fatal error undefined method ElasticPress\IndexHelper::process_error_limit()
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update version
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add option for products
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Ensure the sync is done before checking log messages
  tests/cypress/integration/features/terms.cy.js
Due: 10up-toolkit lint-js

Disable feature + check last msg first
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/terms.cy.js
Due: 10up-toolkit lint-js

Disable key sanitization in Post Indexable in format_args() (#198)
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Log potentially sanitized values (#199)
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

More time to index terms
  tests/cypress/integration/features/terms.cy.js
Due: 10up-toolkit lint-js

`format_args()` logging: Add caching and more information (#200)
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove logging and add back sanitization (#201)
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update decaying functionality
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove unwanted code and add proper condition for weighting settings
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix linting issue
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check for post type key in array
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix the output of put-mapping errors
  includes/classes/Command.php
  includes/classes/IndexHelper.php
  includes/classes/StatusReport/FailedQueries.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix test
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
