Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add --debug-http-request to the get command
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add back the Not Found message
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use _x instead of translators comment.
  assets/js/blocks/facets/common/components/facet-order-control.js
Due: 10up-toolkit lint-js

add test and adjust docs
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Restore and deprecate removed methods.
  includes/classes/Feature/Facets/Types/Meta/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Define default searchTerm prop
  assets/js/api-search/index.js
Due: 10up-toolkit lint-js

Do highlighting in result.js
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/results/result.js
Due: 10up-toolkit lint-js

Add prop documentation
  assets/js/instant-results/components/results/result.js
Due: 10up-toolkit lint-js

Restore and deprecate deleted methods.
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

New parameter for Utils\get_sites
  includes/classes/AdminNotices.php
  includes/classes/Command.php
  includes/classes/Elasticsearch.php
  includes/classes/IndexHelper.php
  includes/classes/Indexable/Comment/QueryIntegration.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/classes/Indexable/Term/QueryIntegration.php
  includes/classes/StatusReport/ElasticPressIo.php
  includes/classes/StatusReport/IndexableContent.php
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix comparison
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove all site meta
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove is_selected from base method
  includes/classes/Feature/Facets/Renderer.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement check_facets_rest_permission()
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement is_selected property in term
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix tests.
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

User ServerSideRender for Post Type filter.
  assets/js/blocks/facets/post-type/block.json
  assets/js/blocks/facets/post-type/edit.js
  includes/classes/Feature/Facets/Types/PostType/Block.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add tests for block colors and typography.
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/related-posts.cy.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Add tests for block dimensions.
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/related-posts.cy.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Add troubleshooting for Apple Silicon.
  tests/cypress/README.md
Due: none

Setting for displaying suggestions in Instant Results.
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add unit tests for new parameters and functions
  tests/php/TestUninstall.php
  tests/php/TestUtils.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump ElasticPress version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump "Tested up to"
  readme.txt
Due: none

Initial 4.7.0 changelog version
  CHANGELOG.md
  CREDITS.md
Due: none

Deprecated Code list in changelog
  CHANGELOG.md
Due: none

WordPress 5.6 compatibility.
  assets/js/blocks/comments/index.js
  assets/js/blocks/facets/meta-range/index.js
  assets/js/blocks/facets/meta/index.js
  assets/js/blocks/facets/post-type/index.js
  assets/js/blocks/facets/taxonomy/index.js
  assets/js/blocks/index.js
  assets/js/blocks/related-posts/index.js
  assets/js/blocks/store.js
  includes/dashboard.php
  package-lock.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rename Facets feature to Filters.
  assets/js/instant-results/admin/components/facet-selector.js
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  readme.txt
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix lint
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Change message based on theme compatibility with widgets and blocks
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix block selector.
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Fix block selector.
  tests/cypress/integration/features/related-posts.cy.js
Due: 10up-toolkit lint-js

Update Related Posts block to API version 2.
  assets/js/blocks/related-posts/Edit.js
  assets/js/blocks/related-posts/block.json
Due: 10up-toolkit lint-js

Add 3564 and 3499
  CHANGELOG.md
Due: none

Adjust e2e tests
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Add a force:true on related posts link so Cypress at least tries to click
  tests/cypress/integration/features/related-posts.cy.js
Due: 10up-toolkit lint-js

Add 3403, 3581, and 3583
  CHANGELOG.md
Due: none

Adjust checks for background color.
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Rely on WP site-default option + only display available langs
  includes/dashboard.php
  includes/partials/settings-page.php
  includes/utils.php
  tests/php/TestDashboard.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

fix lint
  includes/partials/settings-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
