Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initial version of the changelog for 4.6.0
  CHANGELOG.md
  CREDITS.md
Due: none

Filter name change + tests reorganization
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/TestSearch.php
  tests/php/features/TestWooCommerce.php
  tests/php/includes/classes/BaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Work on feedback
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Minor change
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Minor change
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust feedback
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust feedback
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Improve code
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add final `.`
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add #3425 and #3462
  CHANGELOG.md
Due: none

Add block icons.
  assets/js/blocks/comments/icon.js
  assets/js/blocks/comments/index.js
  assets/js/blocks/facets/common/edit.js
  assets/js/blocks/facets/common/icon.js
  assets/js/blocks/facets/meta-range/edit.js
  assets/js/blocks/facets/meta-range/icon.js
  assets/js/blocks/facets/meta-range/index.js
  assets/js/blocks/facets/meta/index.js
  assets/js/blocks/facets/taxonomy/index.js
  assets/js/blocks/related-posts/Edit.js
  assets/js/blocks/related-posts/icon.js
  assets/js/blocks/related-posts/index.js
  includes/classes/Indexable.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove the suggestion if the score is less than the threshold value.
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust feedback
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Migrate docs to Zendesk + did you mean tutorial link
  docs/debugging.md
  docs/development.md
  docs/feature-api.md
  docs/features.md
  docs/indexables.md
  docs/indexing-process.md
  docs/install.md
  docs/react.md
  docs/theme-integration.md
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update links
  README.md
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update link
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Ensure get_elasticsearch_error_reason returns a string
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update URL to include slugs
  docs/compatibility.md
  docs/debugging.md
  docs/development.md
  docs/feature-api.md
  docs/features.md
  docs/indexables.md
  docs/indexing-process.md
  docs/install.md
  docs/react.md
  docs/theme-integration.md
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add #3492, #3493, and #3495
  CHANGELOG.md
Due: none

Make URLs to be links
  docs/compatibility.md
  docs/debugging.md
  docs/development.md
  docs/feature-api.md
  docs/features.md
  docs/indexables.md
  docs/indexing-process.md
  docs/install.md
  docs/react.md
  docs/theme-integration.md
Due: none

readme.txt changelog version
  readme.txt
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

Update the release date
  CHANGELOG.md
  readme.txt
Due: none

[Facet Meta] Initial code for compatibility with block themes
  includes/classes/BlockTemplateUtils.php
  includes/classes/Feature/Facets/FacetType.php
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

sync command stop-on-error flag
  includes/classes/Command.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement abstract Block facet feature class
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Correct documentation and implement abstract class to other facets
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use wp_cache_supports over wp_cache_supports_group_flush
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initial pass of WooCommerce code split
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/Products.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

WIP: Renderer abstract class
  includes/classes/Feature/Facets/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

PHPCS
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

evaluate array items strictly
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move methods to abstract renderer class
  includes/classes/Feature/Facets/Renderer.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement abstract class
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement get_facet_item_value_html arguments
  includes/classes/Feature/Facets/Renderer.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Multisite context switch support to SyncManager
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Indexable/Term/SyncManager.php
  includes/classes/SyncManager.php
  tests/php/TestAdminNotices.php
  tests/php/TestFeatureActivation.php
  tests/php/TestInstaller.php
  tests/php/TestScreen.php
  tests/php/TestStats.php
  tests/php/TestUtils.php
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestComments.php
  tests/php/features/TestDocuments.php
  tests/php/features/TestProtectedContent.php
  tests/php/features/TestRelatedPosts.php
  tests/php/features/TestSearch.php
  tests/php/features/TestSearchOrdering.php
  tests/php/features/TestSynonyms.php
  tests/php/features/TestWeighting.php
  tests/php/features/TestWooCommerce.php
  tests/php/indexables/TestComment.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
  tests/php/indexables/TestUser.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix Unit tests
  tests/php/features/TestFacetTypeMetaRenderer.php
  tests/php/features/TestFacetTypePostTypeRenderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add ep_facet_special_slug_taxonomies filter
  includes/classes/Feature/Facets/Types/Taxonomy/FacetType.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
