Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

add graceful handling of incorrect return type
  includes/classes/AdminNotices.php
  includes/classes/QueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Use 'ep_' . ->slug . '_sync_kill' to prevent indexing the object
  includes/classes/Feature.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/IndexHelper.php
  includes/classes/Indexable.php
  tests/php/features/TestProtectedContent.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add the 'Did You Mean' block
  assets/js/blocks/did-you-mean/Edit.js
  assets/js/blocks/did-you-mean/block.json
  assets/js/blocks/did-you-mean/index.js
  includes/classes/Feature/DidYouMean/DidYouMean.php
  package.json
  tests/php/features/TestDidYouMean.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

code review changes
  includes/classes/AdminNotices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix facet-meta runtime rendering by adding meta aggregation fallback
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add phpunit test
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  tests/php/features/TestFacetTypeMeta.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix Did You Mean to skip suggestions on exact-match searches
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add PHPUnit tests
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add E2E tests
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/e2e/src/specs/woocommerce.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  tests/e2e/src/specs/feature-interface.spec.ts
Due: none

Assumption safety checks for queried object
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update safety check
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add null check instead of empty string
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix misspellings
  CHANGELOG.md
  includes/classes/ElasticPressIo.php
  tests/e2e/src/specs/status-report.spec.ts
  tests/php/features/TestProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/Indexable/Post/QueryIntegration.php
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/utils.php
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

get_post_types_for_tax_query hardening
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Webpack Sourcemaps: Dev Only
  webpack.config.js
Due: 10up-toolkit lint-js

add filter hook to filter post types
  assets/js/instant-results/components/facets/post-type-facet.js
  assets/js/instant-results/config.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add filter hook to filter exclude taxonomy terms
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
  assets/js/instant-results/config.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/Indexable.php
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/IndexHelper.php
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix meta indexing when Post Search feature is disabled
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for more search form fields in Instant Results
  .wp-env.json
  assets/js/instant-results/apps/modal.js
  assets/js/instant-results/utilities.js
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/custom-search-form.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Stale settings schema + search alg filter
  includes/classes/Feature.php
  includes/classes/REST/Features.php
  includes/classes/SearchAlgorithms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update tests for setting dependency
  .wp-env.json
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/simulate-instant-results-conflict.php
  tests/e2e/src/wordpress-files/test-plugins/simulate-setting-dependency.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/utilities.js
Due: 10up-toolkit lint-js

Fix tests
  tests/e2e/src/specs/instant-results.spec.ts
Due: none

Adjust test cleanup
  tests/e2e/src/specs/feature-interface.spec.ts
Due: none

add Weight related posts by date setting
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  tests/php/features/TestRelatedPosts.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove new hook
  includes/classes/SearchAlgorithms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix incorrect ordering in instant results
  assets/js/api-search/src/reducer.js
Due: 10up-toolkit lint-js
