Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Last PRs
  CHANGELOG.md
  readme.txt
Due: none

Ignore Makefile
  .gitignore
Due: none

.pot file
  lang/elasticpress.pot
Due: none

Release date
  CHANGELOG.md
  readme.txt
Due: none

Remove empty titles
  CHANGELOG.md
Due: none

Fix username in CREDITS.md
  CREDITS.md
Due: none

Bring Semantic Search over from EPLabs
  includes/classes/Feature/SemanticSearch/SearchAlgorithm/Hybrid.php
  includes/classes/Feature/SemanticSearch/SearchAlgorithm/Knn.php
  includes/classes/Feature/SemanticSearch/SearchAlgorithm/KnnCosine.php
  includes/classes/Feature/SemanticSearch/SearchAlgorithm/SearchAlgorithm.php
  includes/classes/Feature/SemanticSearch/SemanticSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bring VectorEmbeddings over from EPLabs
  includes/classes/Feature/VectorEmbeddings/Indexable.php
  includes/classes/Feature/VectorEmbeddings/Indexables/Post/Post.php
  includes/classes/Feature/VectorEmbeddings/Settings.php
  includes/classes/Feature/VectorEmbeddings/StatusReport.php
  includes/classes/Feature/VectorEmbeddings/VectorEmbeddings.php
  includes/classes/Feature/VectorEmbeddings/VectorEmbeddingsRequest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adding missing dotenv package
  package-lock.json
  tests/e2e/package.json
Due: none

Update playwright workflow
  .github/workflows/playwright.yml
Due: none

Php compat fix
  .github/workflows/playwright.yml
  composer.json
  composer.lock
Due: none

Php compat fix
  .github/workflows/playwright.yml
Due: none

Revert "Php compat fix"
  .github/workflows/playwright.yml
Due: none

Revert "Php compat fix"
  .github/workflows/playwright.yml
  composer.json
  composer.lock
Due: none

Revert "Update playwright workflow"
  .github/workflows/playwright.yml
Due: none

Bring over SearchAlgorithm from EPLabs
  elasticpress.php
  includes/classes/Feature/SearchAlgorithm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Constrict php version, update composer/composer
  composer.json
  composer.lock
Due: none

WP7 quote kses issue fix
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

JS linting fixes
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/specs/ai-search-summary.spec.ts
  tests/e2e/src/specs/semantic-search.spec.ts
Due: none

WP7 quote kses issue fix - linting
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: guard Utils\\get_site() and is_site_indexable() against non-existent site IDs
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test: cover Utils\\get_site() and is_site_indexable() for non-existent site IDs
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Ai feature test failure updates
  assets/js/embeddings/components/fieldsets/embedded-fields.js
  assets/js/embeddings/components/fieldsets/embedding-mode.js
  assets/js/embeddings/components/fieldsets/taxonomy-inclusion.js
  assets/js/embeddings/components/layout/group.js
  tests/e2e/src/specs/ai-search-summary.spec.ts
  tests/e2e/src/specs/vector-embeddings.spec.ts
Due: 10up-toolkit lint-js

wp 7.0 test fixes
  tests/e2e/src/block-editor.ts
  tests/e2e/src/utils.ts
Due: none

fix: use deterministic site ID 999999 instead of PHP_INT_MAX in tests
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix InstantResult Unit Test - WP 7.0 wp_kses_hair update issue
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update composer/composer with dependencies
  composer.lock
Due: none

Lock symfony/filesystem, process, and finder to ^7.0 for php 8.2.x support
  composer.json
  composer.lock
Due: none

WordPress 7.0 e2e test updates
  tests/e2e/src/utils.ts
Due: none

Trigger tests
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert "WordPress 7.0 e2e test updates"
  tests/e2e/src/utils.ts
Due: none

wp 7 fix
  tests/e2e/src/utils.ts
Due: none

wp 7 fixes
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/utils.ts
Due: none

wp 7 fixes
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
Due: none

wp 7 fixes
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
Due: none

temp diagnostics
  tests/e2e/src/specs/search/search.spec.ts
Due: none

temp diag 2
  tests/e2e/src/specs/search/search.spec.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
