Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s"
	]
}

Stop caching autosuggest requests
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

New `get` WP-CLI command
  includes/classes/Command.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add test scenario for first time search
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Display results text conditionally
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/components/layout/results.js
Due: 10up-toolkit lint-js

Use site_meta instead of blog_option
  includes/classes/Upgrades.php
  includes/dashboard.php
  includes/utils.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Only call get_sites if is multisite
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update unit tests
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

fix add_filter and remove_filter calls
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Change method visibiity
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove text color customisation on post type block.
  assets/js/blocks/facets/post-type/block.json
Due: none

Add missing @throws tag.
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust tests
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Wait until the comments are indexed
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Remove unnecessary call to WP_CLI::runcommand
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Merge wp-cli calls + wait until the setup is done
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Revert "Display results text conditionally"
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/components/layout/results.js
Due: 10up-toolkit lint-js

Revert "Add test scenario for first time search"
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Revert "Define searchTerm in SEARCH action"
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
Due: 10up-toolkit lint-js

Resolve 0 results displayed adding isFirstSearch prop
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/components/layout/results.js
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Use createRoot instead of render
  assets/js/instant-results/admin/index.js
  assets/js/instant-results/index.js
  assets/js/ordering/index.js
  assets/js/status-report/index.js
  assets/js/synonyms/index.js
Due: 10up-toolkit lint-js

Adjust feedback
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/results/did-you-mean.js
  assets/js/instant-results/components/results/didYouMean.js
  assets/js/instant-results/config.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust feedback
  assets/js/instant-results/components/results/did-you-mean.js
  assets/js/instant-results/config.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

User createInterpolateElement
  assets/js/instant-results/components/results/did-you-mean.js
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Fix get_index_names call
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Try to assign a term during the movie creation
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Fix url
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Checks it without retrying
  tests/cypress/config.js
Due: 10up-toolkit lint-js

set the runMode back to 1
  tests/cypress/config.js
Due: 10up-toolkit lint-js

Add retrocompatibility for lower WordPress versions
  assets/js/instant-results/admin/index.js
  assets/js/instant-results/index.js
  assets/js/ordering/index.js
  assets/js/status-report/index.js
  assets/js/synonyms/index.js
Due: 10up-toolkit lint-js

Override ES highlighting in IR
  assets/js/instant-results/components/layout/results.js
Due: 10up-toolkit lint-js

Mock stop on error test
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Assign the term separately
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Redo fake request mock
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Call correct mocked method
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove unnecessary parameter
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove unit tests as the new function doesn't use wp_update_post
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move a few things around
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Renderer.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rollback test approach
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

PHP lint fix
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Switch method to create dummy post
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s
