Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Set show errors when using --stop-on-error flag
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump Elasticsearch version for E2E tests
  bin/es-docker/Dockerfile
  bin/es-docker/docker-compose.yml
Due: none

Message queue for the sync
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update Facet Post type e2e tests
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Define searchTerm in SEARCH action
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
Due: 10up-toolkit lint-js

Add since tag to testSyncStopOnError
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rename test name
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Refactor code to use updated ->get_settings() method
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fixes bug with instant results settings
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove unnecessary implode calls
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initial version of ElasticPress DI Container
  elasticpress.php
  includes/classes/Container.php
  includes/classes/Screen/StatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move the ep_query_logger filter back
  elasticpress.php
  includes/classes/Container.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bring in the Psr\Container package
  .gitattributes
  .github/workflows/build-and-tag.yml
  composer.json
  composer.lock
  elasticpress.php
  includes/classes/Container.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Test the build with the vendor folder
  .github/workflows/test-build-with-vendor.yml
Due: none

Force PHP 7 on composer
  composer.json
  composer.lock
Due: none

Remove type
  includes/classes/Container.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Set tests ignoring the platform requirements
  composer.lock
Due: none

Call composer install on e2e tests + ignore plat reqs on unit tests
  .github/workflows/cypress-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Always build the plugin with the min PHP version
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
Due: none

Make a zip file available
  .github/workflows/test-build-with-vendor.yml
  bin/build-zip.sh
Due: none

Initial commit of reusable workflows
  .github/workflows/build-and-tag.yml
  .github/workflows/build-release.yml
  .github/workflows/cypress-tests.yml
  .github/workflows/test-build-with-vendor.yml
  .github/workflows/test.yml
Due: none

Attempt to use cache between jobs
  .github/workflows/build-plugin.yml
  .github/workflows/test-build-with-vendor.yml
  .github/workflows/test.yml
Due: none

Try to use ES 7.10 for unit tests
  .github/workflows/test.yml
Due: none

7.10.2 is not available
  .github/workflows/test.yml
Due: none

Add add_taxonomy_attributes filter
  tests/php/features/WooCommerce/TestWooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Sync ES index after attach/detach
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add tests for attach and detach
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement the interface + unit tests
  includes/classes/Container.php
  includes/classes/Exception/NotFoundException.php
  tests/php/TestContainer.php
  tests/php/TestElasticPress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add filter array testing to test_ep_facet_special_slug_taxonomies_filter test
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/TestFacetTypeTaxonomy.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add a return to filter docblock
  includes/classes/Feature/Facets/Types/Taxonomy/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Specify types on add_taxonomy_attributes method
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add group tag to test
  tests/php/features/WooCommerce/TestWooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check for pa attributes in test_add_taxonomy_attributes
  tests/php/features/WooCommerce/TestWooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

PHP lint fixes
  includes/classes/Feature/Facets/Types/Taxonomy/FacetType.php
  tests/php/features/TestFacetTypeTaxonomy.php
  tests/php/features/WooCommerce/TestWooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update only if attachment is indexable
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add E2E test
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Add cache
  elasticpress.php
  includes/classes/BlockTemplateUtils.php
  includes/classes/Feature/Facets/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Tests
  includes/classes/BlockTemplateUtils.php
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
  tests/php/TestBlockTemplateUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust `@hook` parameter
  includes/classes/Feature/Facets/Types/Taxonomy/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move new code to product-related files
  includes/classes/Feature/WooCommerce/Products.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/WooCommerce/TestWooCommerce.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
