Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Update health check table selector
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Set password
  bin/setup-cypress-env.sh
Due: none

Adjust table selector based on WP Version
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

fix: update link to compatibility documentation in admin notices
  includes/classes/AdminNotices.php
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix: add original document url
  includes/classes/AdminNotices.php
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for grouping features
  assets/js/features/apps/features.js
  assets/js/features/style.css
  includes/classes/Feature.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Populate all feature classes with their respective groups
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update code
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add test
  bin/install-wp-tests.sh
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove sizes
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Feature grouping styling update - Horizontal -> Vertical tabs
  assets/js/features/style.css
Due: 10up-toolkit lint-style

Update group attribute access to public
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add unit & e2e tests for feature grouping
  tests/cypress/integration/features/groups.cy.js
  tests/php/TestFeature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Feature: Persistent feature selections across reload
  assets/js/features/apps/features.js
  tests/cypress/integration/features/choice-persists-on-reload.cy.js
Due: 10up-toolkit lint-js

Extend persistent features to support groupings
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Update feature choice integration test to account for groups
  tests/cypress/integration/features/choice-persists-on-reload.cy.js
Due: 10up-toolkit lint-js

Move group definition to i18n method
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Refactor groups tests into one single test
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

Fixed test cases to account for groups of features
  tests/cypress/integration/features/documents.cy.js
  tests/cypress/integration/features/protected-content.cy.js
Due: 10up-toolkit lint-js

Add support for field dependency
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Refactor comments
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Adjust tests: Account for the new groups before clicking a feature
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/integration/features/search/search.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Migrate e2e tests to Playwright - Initial Commit
  .eslintrc.js
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  tests/cypress/wordpress-files/test-mu-plugins/disable-welcome-guide.php
  tests/e2e/fixtures.ts
  tests/e2e/playwright.config.ts
  tests/e2e/specs/general.spec.ts
  tests/e2e/specs/wp-basic.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Setup environment
  .github/workflows/playwright.yml
Due: none

install playwright browsers before setting up php version
  .github/workflows/playwright.yml
Due: none

Add support for field groupings
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
  includes/classes/REST/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update group @since version to 5.3.0
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting spaces issue
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust WooCommerce test for groups
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Adjust group test
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

adjust group test
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

Adjust group tests for slow
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

adjust groups test selector
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

(somewhat) dynamic baseURL
  .github/workflows/playwright.yml
  tests/e2e/playwright.config.ts
Due: none

Make it use the correct config file
  .github/workflows/playwright.yml
  package.json
  tests/e2e/playwright.config.ts
Due: none

Standardize plugin slug
  tests/e2e/utils.ts
Due: none

Refactor group test
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js
