Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Update .wp-env.json
  .wp-env.json
Due: none

Update includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove testing plugin
  .wp-env.json
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/wordpress-files/test-plugins/field-grouping.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add new tests
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

cleanup
  includes/classes/Indexable/Post/DateQuery.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

cleanup
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

cleanup
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust tests
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Minor test adjustment
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Test adjustment
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Cleanup
  includes/classes/ElementorUtils.php
  includes/classes/Feature/Facets/Types/Date/FacetType.php
  includes/classes/Feature/Facets/Types/Date/Widget.php
  includes/classes/Feature/Facets/Types/Meta/Widget.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

FEAT: change admin menu icon default color
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Date Query handles array for Compare IN and NOT IN
  includes/classes/Indexable/Post/DateQuery.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

wp-cli and custom results tests
  bin/wp-env-cli
  tests/e2e/specs/custom-results.spec.ts
  tests/e2e/specs/wp-cli.spec.ts
  tests/e2e/utils.ts
Due: none

Install playwright after installing plugins dependencies
  .github/workflows/playwright.yml
Due: none

Restrict showing others' private posts in admin panel
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Restrict showing others' private posts in admin panel
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add since tag for tests
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Feedback changes
  assets/js/features/style.css
  includes/classes/Feature/Search/Search.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update tests
  includes/classes/Feature/Search/Search.php
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update formatting
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor adjustments
  includes/classes/Feature/Search/Search.php
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor adjustments
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

PHPunit adjustment
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix fatal error
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add deprecation notice
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Translatable List
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Remove requires_feature + requiredFeatureNotice Plurals
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Update phpunit test
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

PHPunit adjustments
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/REST/Features.php
  tests/php/includes/classes/FeatureTest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Linting ifx
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New ElasticPressIo::is_service_available method
  includes/classes/ElasticPressIo.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert "Linting ifx"
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert "PHPunit adjustments"
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/REST/Features.php
  tests/php/includes/classes/FeatureTest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert "Update phpunit test"
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add array support to requires_feature without deprecation
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
  includes/classes/Feature.php
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/wordpress-files/test-plugins/multiple-required-features.php
  tests/php/TestFeature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

PHPUnit adjustment
  includes/classes/Feature.php
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
