Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Update Apurv's credits
  CHANGELOG.md
  CREDITS.md
Due: none

Only call `set_settings_schema` when needed
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix warnings and run post_activation
  includes/classes/Features.php
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump version to EP 5.0.0
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

composer update
  composer.lock
Due: none

Remove booleans by default
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Save a draft version of feature settings
  includes/classes/Features.php
  includes/classes/IndexHelper.php
  includes/classes/REST/Features.php
  tests/php/TestFeatureActivation.php
  tests/php/includes/classes/FeatureTest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Front-end support for draft settings.
  assets/js/features/config.js
  assets/js/features/index.js
  assets/js/features/provider.js
  includes/classes/REST/Features.php
  includes/classes/Screen/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update features using the update_feature method
  includes/classes/Features.php
  includes/classes/REST/Features.php
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add fields to weighting for Facets tests.
  assets/js/weighting/apps/weighting.js
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Update posts indexable test.
  tests/cypress/integration/indexables/post.cy.js
Due: 10up-toolkit lint-js

Fix button label in weighting tests.
  tests/cypress/integration/features/search/weighting.cy.js
Due: 10up-toolkit lint-js

Setup features as soon as possible
  includes/classes/Features.php
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Opinionated changes to Features page copy and controls.
  assets/js/features/style.css
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/WooCommerce/Products.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/search/search.cy.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use sentence case for setting label.
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix weighting test.
  tests/cypress/integration/features/search/weighting.cy.js
Due: 10up-toolkit lint-js

Add message about syncing.
  assets/js/weighting/components/group.js
  assets/js/weighting/css/add-new.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Update draft using update_feature()
  includes/classes/Features.php
  includes/classes/REST/Features.php
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use the correct base of settings
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit test.
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update feature in the right place
  includes/classes/Command.php
  includes/classes/Features.php
  includes/classes/REST/Features.php
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Debug cypress tests
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Display sync trigger on sync page.
  assets/js/sync-ui/apps/sync.js
  assets/js/sync-ui/components/controls.js
  assets/js/sync-ui/components/previous-sync.js
  assets/js/sync-ui/components/progress.js
  assets/js/sync-ui/config.js
  assets/js/sync-ui/index.js
  assets/js/sync/index.js
  includes/classes/IndexHelper.php
  includes/classes/REST/Sync.php
  includes/classes/Screen/Sync.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add sync trigger paramter to sync links.
  includes/classes/AdminNotices.php
  includes/partials/install-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Wait until the modal is visible
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Fix expected control in test.
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Set test back to original
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Apply fix to non-epio envs
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Delete draft option on uninstall and save setting if deactivating
  includes/classes/REST/Features.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust unit tests for the weighting dashboard
  includes/classes/Feature/Search/Weighting.php
  tests/php/features/TestWeighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Delete elasticpress_weighting on uninstall
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use defaults when the weighting config was not saved
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow ep_exclude_from_search by default
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust testTooManyFieldsNoticeInAdmin
  tests/php/TestAdminNotices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

If a type is not searchable, do not apply weighting config
  includes/classes/Indexable/Post/Post.php
  tests/php/features/TestFacetTypeMeta.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix TestPost normalizing all meta key names
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix lint
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix testIndexableContentReport
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add more recent PRs
  CHANGELOG.md
Due: none

Display some submenu items on sites when network activated
  includes/classes/AdminNotices.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Screen.php
  includes/dashboard.php
  includes/partials/header.php
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
