Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

PHPCS Fix
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update support for array of required feature
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Field groups retain old values
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
  includes/classes/Feature/Search/Search.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Retain settingsSchema order
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Add missing i18n domain
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Clean up logic
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Update expected test value
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test adjustments
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/wordpress-files/test-plugins/multiple-required-features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move map to JS
  assets/js/features/components/settings.js
  includes/classes/Feature/Search/Search.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move map to Feature abstract class
  assets/js/features/components/settings.js
  includes/classes/Feature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move away from Abstract class
  includes/classes/Feature.php
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update unit tests
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/Feature.php
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Oxford comma fix
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Protected + ReflectionClass
  includes/classes/Feature.php
  tests/cypress/wordpress-files/test-plugins/multiple-required-features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust function for expected test results
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

ESLint fix
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Adjust test for oxford comma
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Set field_group_map in set_i18n_strings, as __construct is too soon to call an i18n function
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Check if a group should be displayed based on required fields
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

ES 8.16 compat: Remove side from edge_ngram tokenizer on term and comment as well
  includes/mappings/comment/7-0.php
  includes/mappings/term/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix WP-CLI Tests
  tests/e2e/specs/wp-cli.spec.ts
Due: none

Lint wp-cli (playwright) and delete cypress version
  tests/cypress/integration/wp-cli.cy.js
  tests/e2e/specs/wp-cli.spec.ts
Due: 10up-toolkit lint-js

Terms tests
  tests/cypress/integration/features/terms.cy.js
  tests/e2e/specs/indexables/terms.spec.ts
Due: 10up-toolkit lint-js

Delete the custom-results cypress tests
  tests/cypress/integration/features/custom-results.cy.js
Due: 10up-toolkit lint-js

Initial pass on the search-related tests
  tests/e2e/specs/search/search.spec.ts
  tests/e2e/specs/search/synonyms.spec.ts
  tests/e2e/specs/search/weighting.spec.ts
Due: none

Small updates + delete search cypress test
  tests/cypress/integration/features/search/search.cy.js
  tests/e2e/specs/search/search.spec.ts
  tests/e2e/specs/search/weighting.spec.ts
Due: 10up-toolkit lint-js

Small fixes on terms
  tests/e2e/specs/indexables/terms.spec.ts
Due: none

Minor change
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

overwrite babel/runtime version
  package-lock.json
  package.json
Due: none

Move a couple of things around + renaming
  .github/workflows/cypress-tests.yml
  .github/workflows/playwright.yml
  .wp-env.json
  bin/setup-e2e-env.sh
  package.json
  tests/e2e/specs/feature-interface.spec.ts
  tests/e2e/wordpress-files/.htaccess
  tests/e2e/wordpress-files/composer.json
  tests/e2e/wordpress-files/test-docs/content-example.xml
  tests/e2e/wordpress-files/test-mu-plugins/disable-welcome-guide.php
  tests/e2e/wordpress-files/test-mu-plugins/skip-wp-lookup.php
  tests/e2e/wordpress-files/test-mu-plugins/unique-index-name.php
  tests/e2e/wordpress-files/test-plugins/auto-meta-mode.php
  tests/e2e/wordpress-files/test-plugins/cpt-and-custom-tax.php
  tests/e2e/wordpress-files/test-plugins/custom-autosuggest-placeholder.php
  tests/e2e/wordpress-files/test-plugins/custom-headers-for-autosuggest.php
  tests/e2e/wordpress-files/test-plugins/custom-instant-results-template.php
  tests/e2e/wordpress-files/test-plugins/disable-fuzziness.php
  tests/e2e/wordpress-files/test-plugins/enable-debug-bar.php
  tests/e2e/wordpress-files/test-plugins/fake-log-messages.php
  tests/e2e/wordpress-files/test-plugins/fake-new-activation.php
  tests/e2e/wordpress-files/test-plugins/filter-autosuggest-navigate-callback.php
  tests/e2e/wordpress-files/test-plugins/filter-instant-results-args-schema.php
  tests/e2e/wordpress-files/test-plugins/filter-instant-results-category-terms.php
  tests/e2e/wordpress-files/test-plugins/filter-instant-results-per-page.php
  tests/e2e/wordpress-files/test-plugins/multiple-required-features.php
  tests/e2e/wordpress-files/test-plugins/open-instant-results-with-buttons.php
  tests/e2e/wordpress-files/test-plugins/shorten-autosave.php
  tests/e2e/wordpress-files/test-plugins/show-comments-and-terms.php
  tests/e2e/wordpress-files/test-plugins/sync-error.php
  tests/e2e/wordpress-files/test-plugins/unsupported-elasticsearch-version.php
  tests/e2e/wordpress-files/test-plugins/unsupported-server-software.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix Synonyms tests
  tests/e2e/fixtures.ts
  tests/e2e/specs/search/synonyms.spec.ts
Due: none

Fix Weighting tests
  tests/e2e/specs/search/weighting.spec.ts
Due: none

Fix some tests
  tests/e2e/specs/search/search.spec.ts
  tests/e2e/specs/search/synonyms.spec.ts
Due: none

More adjustments
  tests/e2e/specs/search/synonyms.spec.ts
Due: none

Fix Terms tests
  tests/e2e/specs/indexables/terms.spec.ts
  tests/e2e/utils.ts
Due: none

Fix post search tests
  tests/e2e/specs/search/search.spec.ts
Due: none

adjustments + debug
  tests/e2e/specs/search/search.spec.ts
  tests/e2e/specs/wp-cli.spec.ts
Due: none

More debugging
  tests/e2e/specs/wp-cli.spec.ts
Due: none

even more debugging
  tests/e2e/specs/wp-cli.spec.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
