Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Update groups test for WP6.2
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

Add support for grouping features
  assets/js/features/apps/features.js
  assets/js/features/style.css
  includes/classes/Feature.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move group definition to i18n method
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add unit & e2e tests for feature grouping
  tests/cypress/integration/features/groups.cy.js
  tests/php/TestFeature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Refactor groups tests into one single test
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

Feature grouping styling update - Horizontal -> Vertical tabs
  assets/js/features/style.css
Due: 10up-toolkit lint-style

Update group attribute access to public
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Populate all feature classes with their respective groups
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust tests: Account for the new groups before clicking a feature
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/integration/features/search/search.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Adjust WooCommerce test for groups
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Fix linting spaces issue
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fixed test cases to account for groups of features
  tests/cypress/integration/features/documents.cy.js
  tests/cypress/integration/features/protected-content.cy.js
Due: 10up-toolkit lint-js

Update group @since version to 5.3.0
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust group test for WP6.2
  tests/cypress/integration/features/groups.cy.js
Due: 10up-toolkit lint-js

Feature: Persistent feature selections across reload
  assets/js/features/apps/features.js
  tests/cypress/integration/features/choice-persists-on-reload.cy.js
Due: 10up-toolkit lint-js

Extend persistent features to support groupings
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Update persistance test for WP6.2
  tests/cypress/integration/features/choice-persists-on-reload.cy.js
Due: 10up-toolkit lint-js

Add support for multiple requires_features
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
  includes/classes/Feature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Improve reliability of dependent fields
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Add e2e test for multiple required features
  tests/cypress/integration/features/multiple-requires-features.cy.js
Due: 10up-toolkit lint-js

Adjust ESDoc comment from feature -> features
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Make paths more generic, so we can run it in vs code
  bin/wp-env-cli
  tests/e2e/playwright.config.ts
  tests/e2e/specs/general.spec.ts
  tests/e2e/specs/global.setup.ts
  tests/e2e/utils.ts
Due: none

Better handling of commands
  tests/e2e/utils.ts
Due: none

Refactor preferences-persistence -> URL Params
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Remove back/forward useEffect
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Initial WIP autocomplete v2 build-out
  assets/css/autosuggest-v2.css
  assets/js/autosuggest-v2/components/AutosuggestUI.js
  assets/js/autosuggest-v2/components/FilterTabs.js
  assets/js/autosuggest-v2/components/SuggestionItem.js
  assets/js/autosuggest-v2/components/SuggestionList.js
  assets/js/autosuggest-v2/index.js
  assets/js/autosuggest-v2/src/config.js
  assets/js/autosuggest-v2/src/context.js
  assets/js/autosuggest-v2/src/useAutosuggestInput.js
  elasticpress.php
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for field dependency
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Refactor comments
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Add e2e test for field dependency
  tests/cypress/integration/features/field-grouping.cy.js
Due: 10up-toolkit lint-js

Rename file
  tests/cypress/integration/features/field-dependency.cy.js
Due: 10up-toolkit lint-js

Update e2e test with simulated field dependency
  tests/cypress/integration/features/field-dependency.cy.js
Due: 10up-toolkit lint-js

Add support for field groupings
  assets/js/features/components/control.js
  assets/js/features/components/settings.js
  includes/classes/REST/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add integration test for field grouping
  tests/cypress/integration/features/field-grouping.cy.js
Due: 10up-toolkit lint-js

Update field grouping e2e test with simulated values
  tests/cypress/integration/features/field-grouping.cy.js
Due: 10up-toolkit lint-js

Update required features e2e test
  tests/cypress/integration/features/multiple-requires-features.cy.js
Due: 10up-toolkit lint-js

Add requires_features support to PHPUnit test
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
