Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Simplify ajax report approach
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/AjaxReport.php
  includes/classes/StatusReport/IndexableContent.php
  tests/php/screen/TestStatusReport.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Index not needed anymore
  assets/js/status-report/components/reports.js
  includes/classes/Screen/StatusReport.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix: fallback if term order is set to none
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update 5.2.0 changelog
  CHANGELOG.md
  CREDITS.md
Due: none

Added check to fix warning for case of non-existing 'post_type' query_var parameter
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add e2e tests
  assets/js/status-report/components/reports.js
  tests/cypress/integration/status-report.cy.js
  tests/php/screen/TestStatusReport.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Should return back an Error instead
  includes/classes/Screen/StatusReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove non needed code
  includes/classes/StatusReport/IndexableContent.php
  includes/classes/StatusReport/Report.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove unused code
  assets/js/status-report/components/reports/report.js
Due: 10up-toolkit lint-js

Add to i18n
  includes/classes/Screen/StatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit test
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Correct method signature
  includes/classes/Screen/StatusReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update status report message
  assets/js/status-report/components/reports.js
Due: 10up-toolkit lint-js

Add since tags
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/AjaxReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move get_messages to parent class
  includes/classes/StatusReport/AjaxReport.php
  includes/classes/StatusReport/IndexableContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Consolidate in one test
  tests/cypress/integration/status-report.cy.js
Due: 10up-toolkit lint-js

Remove get_single_report
  includes/classes/Screen/StatusReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

If a feature requirements were not fulfilled, do not run its setup method
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Delete a post from the index if it had a password added
  includes/classes/Indexable/Post/SyncManager.php
  tests/cypress/integration/indexables/post.cy.js
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Explain the code
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Force element click
  tests/cypress/integration/indexables/post.cy.js
Due: 10up-toolkit lint-js

Update method name
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix radio button value on WP 6.2
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Updated version of changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Fix: 36px default size is deprecated since version 6.8
  assets/js/blocks/facets/common/components/facet-meta-control.js
  assets/js/blocks/facets/common/components/facet-order-control.js
  assets/js/blocks/facets/common/components/facet-search-placeholder-control.js
  assets/js/blocks/facets/common/components/facet-taxonomy-control.js
  assets/js/blocks/facets/meta-range/edit.js
  assets/js/features/components/control.js
  assets/js/instant-results/admin/components/facet-selector.js
  assets/js/sync-ui/components/include.js
  assets/js/sync-ui/components/limits.js
  assets/js/sync-ui/components/offset.js
  assets/js/synonyms/components/common/edit-panel.js
  assets/js/weighting/components/field.js
  assets/js/weighting/components/group.js
Due: 10up-toolkit lint-js

Fix the Sync Complete message behavior
  assets/js/sync-ui/apps/sync.js
Due: 10up-toolkit lint-js

Fix the form action (and use that) for the date filter
  assets/js/blocks/facets/date/view.js
  includes/classes/Feature/Facets/Types/Date/Renderer.php
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Disconsider the force_inactive value when comparing settings
  assets/js/features/provider.js
Due: 10up-toolkit lint-js

Add scope to warning notice in WooCommerce Orders integration
  includes/classes/Feature/WooCommerce/Orders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial steps of the woocommerce_hpos_pre_query filter usage
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add recent PRs
  CHANGELOG.md
  readme.txt
Due: none

Include the "Generate Full Status Report" step
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

5.2.0 Release date
  CHANGELOG.md
  readme.txt
Due: none

Refactor buildSearchQuery to use epas.placeholder and remove unused parameter
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Get full endpoint status from EP.io
  elasticpress.php
  includes/classes/ElasticPressIo.php
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/ElasticPressIo.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add E2E tests
  .wp-env.json
  tests/cypress/integration/features/autosuggest.cy.js
  tests/cypress/wordpress-files/test-plugins/custom-autosuggest-placeholder.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust supportsBlockColors selector
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js
