Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Make sure we compare 2 numbers
  assets/js/ordering/pointers.js
Due: 10up-toolkit lint-js

Fix: Bottom margin style is deprecated since version 6.7
  assets/js/blocks/facets/common/components/facet-display-count-control.js
  assets/js/blocks/facets/common/components/facet-meta-control.js
  assets/js/blocks/facets/common/components/facet-order-control.js
  assets/js/blocks/facets/common/components/facet-search-placeholder-control.js
  assets/js/blocks/facets/common/components/facet-taxonomy-control.js
  assets/js/blocks/facets/date/edit.js
  assets/js/blocks/facets/meta-range/edit.js
  assets/js/features/components/control.js
  assets/js/search/editor/plugins/exclude-from-search.js
  assets/js/sync-ui/components/include.js
  assets/js/sync-ui/components/indexables.js
  assets/js/sync-ui/components/limits.js
  assets/js/sync-ui/components/offset.js
  assets/js/sync-ui/components/post-types.js
  assets/js/sync-ui/components/put-mapping.js
  assets/js/sync-ui/css/advanced-control.css
  assets/js/sync-ui/css/controls.css
  assets/js/synonyms/components/common/edit-panel.js
  assets/js/synonyms/components/common/list-table.js
  assets/js/synonyms/components/editors/solr-editor.js
  assets/js/synonyms/components/editors/visual-editor.js
  assets/js/synonyms/css/edit-panel.css
  assets/js/weighting/components/field.js
  assets/js/weighting/components/group.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Fix for site-admin.js
  assets/js/sites-admin.js
Due: 10up-toolkit lint-js

Use tests_add_filter targetting only the orders table
  tests/php/TestHealthCheckElasticsearch.php
  tests/php/bootstrap.php
  tests/php/includes/classes/BaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit Tests: Fail faster on requests we know will fail
  tests/php/TestAdminNotices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix the debug-bar-elasticpress dependency of ElasticPress
  .wp-env.json
  bin/setup-cypress-env.sh
Due: none

Fix the sed call
  bin/setup-cypress-env.sh
Due: none

Run sed inside wp-env container
  bin/setup-cypress-env.sh
Due: none

Escape sed call
  bin/setup-cypress-env.sh
Due: none

Updated changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Update peaceiris/actions-gh-pages
  .github/workflows/build-docs.yml
Due: none

Update syntax
  .github/workflows/push-deploy.yml
Due: none

Add .nvmrc and .npmrc to the list of files that should not be deployed
  .gitattributes
Due: none

Update the .pot file
  lang/elasticpress.pot
Due: none

Update release date
  CHANGELOG.md
  readme.txt
Due: none

Bring back double quotes
  .github/workflows/push-deploy.yml
Due: none

Trufflehog GH Action
  .github/workflows/secrets-scan.yml
Due: none

Give a name to the Action
  .github/workflows/secrets-scan.yml
Due: none

Ensure PHP_EOL linebreaks in synonym post
  includes/classes/REST/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

preg_split on all line breaks in synonym post
  includes/classes/Feature/Search/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Rename the Unit Test GH Action
  .github/workflows/test.yml
Due: none

Rely only on git instead of svn
  bin/install-wp-tests.sh
Due: none

Fix: Attempt to read property base on null
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Show real linting issues
  .github/workflows/lint.yml
  .stylelintrc
Due: none

Update build-with-vendor-prefixed.yml action
  .github/workflows/build-with-vendor-prefixed.yml
Due: none

Update GH actions
  .github/workflows/build-and-tag.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-with-vendor-prefixed.yml
Due: none

Fix linting errors in plugin files
  includes/classes/Command.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/IndexHelper.php
  includes/classes/Indexable/Post/QueryIntegration.php
  includes/classes/Indexables.php
  includes/classes/Installer.php
  includes/classes/REST/MetaKeys.php
  includes/classes/REST/Sync.php
  includes/classes/REST/Taxonomies.php
  includes/classes/REST/Token.php
  includes/compat.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Compiled CSS does not contain @import/@nest
  .stylelintrc
Due: none

Resolve JS lint issues
  assets/js/api-search/src/utilities.js
Due: 10up-toolkit lint-js

Resolves linting issues in test files
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestDidYouMean.php
  tests/php/features/TestFacetTypeDate.php
  tests/php/features/TestFacetTypeMeta.php
  tests/php/features/TestFacetTypeTaxonomy.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
  tests/php/includes/classes/mock/class-wp-cli.php
  tests/php/includes/wp-cli-utils.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Resolves lint issue with unused variable
  .stylelintrc
  includes/classes/Feature/Facets/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Simplify #fff color in favor of global
  assets/css/autosuggest.css
  assets/css/dashboard.css
  assets/css/facets.css
  assets/css/instant-results.css
  assets/css/instant-results/modal.css
  assets/css/instant-results/range-slider.css
  assets/css/ordering.css
  assets/css/woocommerce/admin/components/combobox.css
  assets/css/woocommerce/admin/orders.css
Due: 10up-toolkit lint-style

Simplify #eee color in favor of global
  assets/css/autosuggest.css
  assets/css/dashboard.css
  assets/css/facets.css
  assets/css/ordering.css
Due: 10up-toolkit lint-style

Simplify #626262 color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #f9f9f9 color in favor of global
  assets/css/ordering.css
Due: 10up-toolkit lint-style

Simplify #efefef color in favor of global
  assets/css/dashboard.css
  assets/css/instant-results.css
  assets/css/instant-results/range-slider.css
  assets/css/instant-results/result.css
Due: 10up-toolkit lint-style

Simplify #d84440 color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style
