Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Check if feature slug is set
  tests/php/includes/classes/FeatureTest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Reset things before testing
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add missing code for delete template
  includes/classes/Command.php
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test for Es5
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

"Deregister" the test feature
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Ensure cache_results is set to true for Query
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New version of elasticpress-playwright-utils
  .github/workflows/publish-playwright-utils.yml
  tests/e2e/package.json
Due: none

Remove mention to token
  .github/workflows/publish-playwright-utils.yml
Due: none

Use a newer version of node
  .github/workflows/publish-playwright-utils.yml
Due: none

Update only npm
  .github/workflows/publish-playwright-utils.yml
Due: none

Try to re-setup node
  .github/workflows/publish-playwright-utils.yml
Due: none

Try setup-node@v6
  .github/workflows/publish-playwright-utils.yml
Due: none

Try updating npm again
  .github/workflows/publish-playwright-utils.yml
Due: none

Fix: Undefined array key warnings in Weighting.php
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Translate query to WP Query
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Only consider a feature active if not disabled by code
  assets/js/features/components/control.js
  includes/classes/Feature.php
  tests/php/TestFeatureActivation.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Instant Results: Numbered Pagination
  assets/css/instant-results/pagination-button.css
  assets/css/instant-results/pagination.css
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/results/pagination.js
  assets/js/instant-results/config.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Linting fix
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add Tests
  composer.lock
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update InstantResults with new pagination schema
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update pagination ellipses handling for large amounts of pages
  assets/js/instant-results/components/results/pagination.js
Due: 10up-toolkit lint-js

Add playwright test for Instant Results Pagination
  tests/e2e/src/specs/instant-results.spec.ts
Due: none

Update playwright test: pull actual per_page option
  tests/e2e/src/specs/instant-results.spec.ts
Due: none

Refresh features on save
  assets/js/features/provider.js
  includes/classes/REST/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Taxonomy label were encoded in Instant Results
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add Tests
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Convert Pointers class to fuctional component
  assets/js/ordering/pointers.js
Due: 10up-toolkit lint-js

Use ENT_QUOTES flag
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix PHPCS for InstantResults invalid taxonomy notice
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add doing_it_wrong for invalid facet taxonomies and test it
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Guard Instant Results facets against invalid taxonomy values
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix indentation
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make it possible to actually set up Instant Results
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update WP version in "Tested up to"
  readme.txt
Due: none

Initial 5.3.3 changelog
  CHANGELOG.md
  CREDITS.md
Due: none

Add stale interface test
  .wp-env.json
  tests/e2e/src/specs/feature-interface.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/simulate-instant-results-conflict.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
