Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Add old selectors for WP 6.0 compatibility
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Block Editor compatibility with WP 6.0
  tests/cypress/support/commands/block-editor.js
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Fix matrix for EP.io
  .github/workflows/cypress-tests.yml
Due: none

Check if the panel is already opened before clicking on the button
  tests/cypress/integration/features/related-posts.cy.js
Due: 10up-toolkit lint-js

Update term IDs
  tests/cypress/integration/indexables/post.cy.js
Due: 10up-toolkit lint-js

EP.io cleanup
  .github/workflows/cypress-tests.yml
  bin/set-core-version.js
Due: 10up-toolkit lint-js

Require plugin.php to use is_plugin_active in the frontend
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Activate WooCommerce while installing it
  bin/setup-cypress-env.sh
Due: none

Set back old IDs
  tests/cypress/integration/indexables/post.cy.js
Due: 10up-toolkit lint-js

Use a different list of comments
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Save versions separately
  .github/workflows/cypress-tests.yml
Due: none

Make sure it waits for all ajax requests
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Wait for all ajax requests
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Change product reviews URL based on WC version
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Adjust WC version check
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Bump minimum WC version to 6.4
  .github/workflows/cypress-tests.yml
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Remove Old mappings
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
  includes/mappings/comment/pre-5-0.php
  includes/mappings/post/pre-5-0.php
  includes/mappings/term/pre-5-0.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adapt interpretation of total fields limit message
  includes/classes/ElasticsearchErrorInterpreter.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add default_search analyzer for terms and comments
  includes/mappings/comment/7-0.php
  includes/mappings/comment/initial.php
  includes/mappings/term/7-0.php
  includes/mappings/term/initial.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update some node packages
  package-lock.json
  package.json
Due: none

Remove mappings for ES < 5.2
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
  includes/mappings/post/5-0.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust lint package
  package-lock.json
  package.json
Due: none

Adjust wp-env calls
  bin/wp-env-cli
  tests/cypress/config.js
Due: 10up-toolkit lint-js

Update Cypress and fix lint
  package-lock.json
  package.json
  tests/cypress/integration/features/autosuggest.cy.js
  tests/cypress/integration/features/custom-results.cy.js
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/integration/features/woocommerce.cy.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Fix style lint errors
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Fix permalinks
  .wp-env.json
  tests/cypress/wordpress-files/.htaccess
Due: none

Fix autosuggest e2e test
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Optimize wp-cli calls
  tests/cypress/integration/features/custom-results.cy.js
Due: 10up-toolkit lint-js

Skip WP.org translations lookup and reorder plugin activation
  .wp-env.json
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/wordpress-files/test-mu-plugins/skip-wp-lookup.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Always refresh before getting stats
  includes/classes/Command.php
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use toggle type for active feature control.
  includes/classes/Feature.php
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Settings schema corrections.
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update unit test.
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit tests.
  tests/php/TestFeature.php
  tests/php/features/TestDidYouMean.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix instant results test.
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

On update settings from schema.
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make sure billing email is filled in
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Move feature dependencies to requires_feature.
  includes/classes/Feature.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Drag to the top
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Add full description to summary.
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
