Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initial commit for the Extended Search Results feature
  elasticpress.php
  includes/classes/Feature/ExtendedSearchResults/EsrType.php
  includes/classes/Feature/ExtendedSearchResults/ExtendedSearchResults.php
  includes/classes/Feature/ExtendedSearchResults/Types/Term.php
  includes/classes/Indexable/ExtendedSearchResults/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update @since version
  tests/php/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix React notice about onChange and checked props.
  assets/js/instant-results/components/common/checkbox.js
Due: 10up-toolkit lint-js

Fix React error regarding async effects.
  assets/js/api-search/index.js
Due: 10up-toolkit lint-js

Add autosuggest navigate callback filter
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Allow facets on taxonomies when plain permalink is used
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update fetchConfig to fetchOptions
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Meta and Meta Range facets only available on WP 5.8+
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use Taxonomy query_var
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Keep taxonomy query parameters in Facets URLs
  includes/classes/Feature/Facets/Facets.php
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump EP and WP versions
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

4.5.1 Changelog partial
  CHANGELOG.md
  CREDITS.md
Due: none

Add VIP specific hooks to the Post\SyncManager::tear_down (#194)
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Click first button from @block selection
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Add E2E test for ep.Autosuggest.fetchOptions
  .wp-env.json
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Add plugin to modify headers
  tests/cypress/wordpress-files/test-plugins/custom-headers-for-autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update Related Posts block description.
  assets/js/blocks/related-posts/block.json
Due: none

Update Filter block names in tests.
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Update block names in tests.
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/related-posts.cy.js
Due: 10up-toolkit lint-js

Fixes modal closing when WP fresh install
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Add filter-autosuggest-navigate-callback plugin
  .wp-env.json
  tests/cypress/integration/features/autosuggest.cy.js
  tests/cypress/wordpress-files/test-plugins/filter-autosuggest-navigate-callback.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: filter plugin not added properly
  .wp-env.json
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Add cypress query arg to e2e filter test
  tests/cypress/integration/features/autosuggest.cy.js
  tests/cypress/wordpress-files/test-plugins/filter-autosuggest-navigate-callback.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add theme integration filter documentation
  docs/theme-integration.md
Due: none

Add MU plugin to disable welcome guide
  .wp-env.json
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/wordpress-files/test-mu-plugins/disable-welcome-guide.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use an existent header
  tests/cypress/integration/features/autosuggest.cy.js
  tests/cypress/wordpress-files/test-plugins/custom-headers-for-autosuggest.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix react 18 compatibility
  assets/js/blocks/facets/meta/edit.js
  assets/js/blocks/facets/taxonomy/edit.js
Due: 10up-toolkit lint-js

New ep_facet_should_check_if_allowed filter
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
  tests/php/features/TestFacetTypeMeta.php
  tests/php/features/TestFacetTypeMetaRange.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update CSS class of the notice div
  tests/cypress/integration/indexables/user.cy.js
Due: 10up-toolkit lint-js

PostSyncManager: Add missing kill_sync() to action_edited_term
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Address change
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check if block inserter is already open before re-opening it
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Force click to avoid the detached element error
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Add kill_sync() to action_edited_term (#195)
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: Warnings for comments block
  assets/js/blocks/comments/Edit.js
Due: 10up-toolkit lint-js

Fix: Undefined array key 'index'
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

New get_indices_comparison() method
  includes/classes/Elasticsearch.php
  tests/php/TestElasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Different message if no index is found
  includes/classes/QueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use the new method
  includes/classes/Screen/Sync.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add latest PRs to the changelog
  CHANGELOG.md
  readme.txt
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
