Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

get-index-settings WP-CLI command
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Display indices languages
  includes/classes/Elasticsearch.php
  includes/classes/StatusReport/Indices.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use similar languages for snowball
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Display snowball lang and remove forced cast
  includes/classes/Elasticsearch.php
  includes/classes/StatusReport/Indices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Consolidate index settings transients deletion
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Change the stop filter depending on the language
  includes/classes/Indexable/Post/SyncManager.php
  includes/dashboard.php
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove Media Attachments from search
  includes/classes/Feature/Search/Search.php
  tests/php/features/TestDocuments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Minor change
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Create issue when a new version of WP is released
  .github/workflows/wordpress-latest.yml
Due: none

Run e2e tests on the min required version of WP
  .github/workflows/cypress-tests.yml
  bin/set-core-version.js
Due: 10up-toolkit lint-js

File permission + EP.io
  .github/workflows/cypress-tests.yml
  bin/set-core-version.js
Due: 10up-toolkit lint-js

Only integrate WC queries if main query, search, or has ep_integrate
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix lint
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add the get-index-settings WP-CLI command
  includes/classes/Command.php
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Refactor how transients are deleted by option name
  tests/php/TestUninstall.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add Did you Mean in Instant Result
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/results/didYouMean.js
  includes/classes/Feature/InstantResults/InstantResults.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Revert changes on orders
  includes/classes/Feature/WooCommerce/Orders.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove change in docblock
  includes/classes/Feature/WooCommerce/Orders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add ep_stop filter
  includes/dashboard.php
  includes/mappings/comment/7-0.php
  includes/mappings/comment/initial.php
  includes/mappings/post/5-2.php
  includes/mappings/post/7-0.php
  includes/mappings/term/7-0.php
  includes/mappings/term/initial.php
  includes/mappings/user/7-0.php
  includes/mappings/user/initial.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Unit tests
  tests/php/TestDashboard.php
  tests/php/indexables/TestComment.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
  tests/php/indexables/TestUser.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add since tag
  includes/classes/Feature/Facets/Types/Taxonomy/FacetType.php
  tests/php/features/TestFacetTypeTaxonomy.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Resolve merge conflict
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add ep_facet_special_slug_taxonomies hook back
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Allow to use the site default language
  includes/dashboard.php
  includes/partials/settings-page.php
  includes/utils.php
  tests/php/TestDashboard.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add transient functions
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix expiration test
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Cache the whole index settings array (~3kb)
  includes/classes/Elasticsearch.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Upgrades.php
  tests/php/TestUninstall.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Display different languages in the status report
  includes/classes/StatusReport/Indices.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Force WP-CLI to always refresh data
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add new ep_after_put_mapping action
  includes/classes/Elasticsearch.php
  includes/classes/Indexable/Comment/SyncManager.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Indexable/Term/SyncManager.php
  includes/classes/Indexable/User/SyncManager.php
  includes/classes/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

use namespace inside the function
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Rename block to Filter by Post Type
  assets/js/blocks/facets/post-type/block.json
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Add block description
  assets/js/blocks/facets/post-type/block.json
Due: none

Use elasticpress category for facet block
  assets/js/blocks/facets/post-type/block.json
Due: none

Add keywords to block.json
  assets/js/blocks/facets/post-type/block.json
Due: none

Add support for color, position, spacing and typography
  assets/js/blocks/facets/post-type/block.json
Due: none

Unit tests and small corrections
  includes/classes/Elasticsearch.php
  tests/php/TestElasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use filter icon on post type facet
  assets/js/blocks/facets/post-type/icon.js
  assets/js/blocks/facets/post-type/index.js
Due: 10up-toolkit lint-js

Implement shared components in facet by post type
  assets/js/blocks/facets/post-type/edit.js
Due: 10up-toolkit lint-js

Use shared icon instead
  assets/js/blocks/facets/post-type/icon.js
  assets/js/blocks/facets/post-type/index.js
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
