Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Patchstack Vulnerability Disclosure Program
  README.md
  SECURITY.md
  readme.txt
Due: none

Adjust `@since` tags
  includes/classes/Elasticsearch.php
  tests/php/TestElasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Allow menu_order to be negative
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Accept named meta_query clauses
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Introduce orderby meta types + small tests refactor
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

adjust if
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fallback to clause's cast if type isn't set
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Improve check for decaying, add more tests
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove unnecessary code
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Facet by post type
  assets/js/blocks/facets/post-type/block.json
  assets/js/blocks/facets/post-type/edit.js
  assets/js/blocks/facets/post-type/index.js
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/PostType/FacetType.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  package.json
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Integrate search suggestion
  elasticpress.php
  includes/classes/Elasticsearch.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/FeatureRequirementsStatus.php
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Return filter variable
  includes/classes/Feature/Facets/Types/PostType/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Minor changes
  includes/classes/Feature/DidYouMean/DidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix tests
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add Renderer Unit test
  tests/php/features/TestFacetTypePostTypeRenderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Change position
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

composer update + requiring composer installers
  composer.json
  composer.lock
Due: none

Update sanitization and code standards
  includes/classes/Command/Utility.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Indexable/User/User.php
  includes/classes/Installer.php
  includes/classes/Screen.php
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/FailedQueries.php
  includes/classes/Upgrades.php
  includes/dashboard.php
  phpcs.xml
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add a --force flag to the sync command
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add tests
  tests/cypress/integration/wp-cli.cy.js
  tests/php/TestCommands.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust --setup flag message
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust expected string
  tests/cypress/integration/wp-cli.cy.js
Due: 10up-toolkit lint-js

Adjust string in test
  tests/php/TestCommands.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

More restrict phpcs:disable
  includes/classes/Command/Utility.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

General adjustments
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/PostType/FacetType.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  tests/php/features/TestFacetTypePostTypeRenderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Unit tests + query param change
  includes/classes/Feature/Facets/Types/PostType/FacetType.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  tests/php/features/TestFacetTypePostType.php
  tests/php/features/TestFacetTypePostTypeRenderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove the facet parameter and add e2e tests
  assets/js/blocks/facets/post-type/block.json
  assets/js/blocks/facets/post-type/edit.js
  includes/classes/Feature/Facets/Types/PostType/Block.php
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add new tests
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Filter names + docs
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/Meta/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
  tests/php/features/TestFacetTypePostTypeRenderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add new ep_pre_kill_sync_for_password_protected filter
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Indexable/Post/SyncManager.php
  tests/cypress/integration/features/protected-content.cy.js
  tests/cypress/integration/features/search/search.cy.js
  tests/php/indexables/TestPost.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix indentation
  includes/classes/Feature/Facets/Types/PostType/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Open the sidebar
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Fix condition to open settings bar
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Better handling of request errors
  includes/classes/Elasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix selector
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Add new assert functions and update options name
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check for post_type
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Minor change
  includes/classes/Feature/DidYouMean/DidYouMean.php
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update labels
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump version (4.5.2 -> 4.6.0)
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
