Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Bump react-router-dom version
  package-lock.json
  package.json
Due: none

Use the default value if no value is set yet
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Fix Warning: prop on should not be null
  assets/js/sync-ui/provider.js
Due: 10up-toolkit lint-js

Point the url to Facet section
  includes/classes/Feature/Facets/Types/Taxonomy/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Warnings on Status Reports page
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report/container.js
  assets/js/status-report/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Don't use extra container
  assets/js/status-report/components/reports.js
Due: 10up-toolkit lint-js

Show status bar to those who have manage_elasticpress
  includes/classes/AdminBar.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/php/TestAdminBar.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Comment query when orderby set to none
  includes/classes/Indexable/Comment/Comment.php
  tests/php/indexables/TestComment.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix Warning: Value prop on should not be null
  assets/js/sync-ui/components/objects.js
Due: 10up-toolkit lint-js

Add latest PRs
  CHANGELOG.md
  readme.txt
Due: none

Adjust feedback
  elasticpress.php
  tests/e2e/src/wordpress-files/test-plugins/unsupported-elasticsearch-version.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Only setups a feature if required features are active + possibility of custom sanitizing REST API options
  includes/classes/Features.php
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit tests
  tests/php/REST/TestFeatures.php
  tests/php/TestFeatureActivation.php
  tests/php/bootstrap.php
  tests/php/includes/classes/FeatureTest.php
  tests/php/includes/classes/mock/DependentFeatureTest.php
  tests/php/includes/classes/mock/SanitizeCallbackFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Recently added PRs
  CHANGELOG.md
  readme.txt
Due: none

Rephrase compatibility with Elementor
  CHANGELOG.md
  readme.txt
Due: none

Add last PR
  CHANGELOG.md
  readme.txt
Due: none

Fix some versions links
  CHANGELOG.md
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

Release date and features page screenshot
  .wordpress-org/screenshot-1.png
  CHANGELOG.md
  readme.txt
Due: none

Update linting related composer packages
  composer.json
  composer.lock
Due: none

Check tests with a different PHP version
  .github/workflows/lint.yml
Due: none

Fix linting problems
  includes/classes/Feature/WooCommerce/Products.php
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix notices class
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Changelog
  CHANGELOG.md
  readme.txt
Due: none

deploy: 28495ba926e86bd2c7f600fb89be013f1eebdb6d
  elasticpress.php.html
  ep_available_languages.html
  ep_weighting_options.html
  includes_classes_Feature_WooCommerce_Products.php.html
  includes_dashboard.php.html
Due: none

Allow the set autosuggest request to go through
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New post_deactivation method for features + reset autosuggest
  includes/classes/Command.php
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Features.php
  includes/classes/StatusReport/ElasticPressIo.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Media search not working
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  tests/e2e/src/specs/protected-content.spec.ts
  tests/php/features/TestProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add a note about keeping the sync page open during the sync
  assets/js/sync-ui/apps/sync.js
Due: 10up-toolkit lint-js

Fix tests
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change copy
  assets/js/sync-ui/apps/sync.js
Due: 10up-toolkit lint-js

Bump version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Starting 5.3.2 changelog
  CHANGELOG.md
Due: none

Add #4240 to the changelog
  CHANGELOG.md
  readme.txt
Due: none
