Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Hide legacy widget
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

cleanup
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
  includes/classes/Feature/Facets/Types/MetaRange/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Feature/Facets/Types/Date/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change selector
  assets/css/facets.css
Due: 10up-toolkit lint-style

Fix: Undefined array key 'is_preview'
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Proper testing setup
  .wp-env.json
  includes/classes/Feature.php
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/integration/features/multiple-requires-features.cy.js
  tests/cypress/wordpress-files/test-plugins/multiple-required-features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add relationship option, refactor format
  assets/js/features/components/settings.js
Due: 10up-toolkit lint-js

Add highlighting group, update conditional logic
  assets/js/features/components/control.js
  includes/classes/Feature/Search/Search.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test for new format
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Remove unused function
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Refactor to only whats needed
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for Elementor
  elasticpress.php
  includes/classes/ElementorUtils.php
  includes/classes/Feature/Facets/FacetType.php
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for Elementor
  includes/classes/ElementorUtils.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  includes/classes/ElementorUtils.php
  tests/php/TestElementorUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Related Posts initial commit
  tests/e2e/block-editor.ts
  tests/e2e/specs/related-posts.spec.ts
  tests/e2e/utils.ts
Due: none

Fix roles in EP features page buttons
  tests/e2e/specs/documents.spec.ts
  tests/e2e/specs/protected-content.spec.ts
Due: none

Add proxy and tests
  .wp-env.json
  tests/cypress/integration/features/autosuggestv2.cy.js
  tests/cypress/wordpress-files/test-plugins/autosuggestv2-proxy-plugin.php
  tests/cypress/wordpress-files/test-plugins/autosuggestv2-proxy.php
  tests/cypress/wordpress-files/test-plugins/customize-autosuggest-v2.js
  tests/cypress/wordpress-files/test-plugins/customize-autosuggest-v2.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Small linting fix
  tests/cypress/wordpress-files/test-plugins/autosuggestv2-proxy.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor test changes
  tests/cypress/integration/features/autosuggestv2.cy.js
Due: 10up-toolkit lint-js

Update test
  tests/cypress/integration/features/autosuggestv2.cy.js
Due: 10up-toolkit lint-js

Add disable step to test
  tests/cypress/integration/features/autosuggestv2.cy.js
Due: 10up-toolkit lint-js

Adjust tests
  .wp-env.json
  tests/cypress/integration/features/autosuggestv2.cy.js
  tests/cypress/wordpress-files/test-plugins/customize-autosuggest-v2.js
  tests/cypress/wordpress-files/test-plugins/customize-autosuggest-v2.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove reference
  tests/cypress/integration/features/autosuggestv2.cy.js
Due: 10up-toolkit lint-js

Test adjustment
  tests/cypress/integration/features/autosuggestv2.cy.js
Due: 10up-toolkit lint-js

Fix selectors
  tests/e2e/specs/related-posts.spec.ts
  tests/e2e/utils.ts
Due: none

(Hopefully) fix the last related-posts test
  tests/e2e/specs/related-posts.spec.ts
  tests/e2e/utils.ts
Due: none

Fix things for WP 6.2
  tests/e2e/block-editor.ts
  tests/e2e/specs/related-posts.spec.ts
  tests/e2e/utils.ts
Due: none

More adjustments
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/utils.ts
Due: none

More WP 6.2 fixes
  tests/e2e/utils.ts
Due: none

Implement "OR filter relationships" in DateQuery
  includes/classes/Indexable/Post/DateQuery.php
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix WP 6.2 selector
  tests/e2e/specs/related-posts.spec.ts
Due: none

Comments e2e
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/related-posts.cy.js
  tests/e2e/block-editor.ts
  tests/e2e/specs/indexables/comments.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Add test plugin, adjust tests
  .wp-env.json
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/wordpress-files/test-plugins/field-grouping.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting issue
  tests/cypress/wordpress-files/test-plugins/field-grouping.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

PHPunit adjustment
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust tests
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Fix block inserter
  tests/e2e/block-editor.ts
Due: none

Fix classic widgets saving process
  tests/e2e/block-editor.ts
  tests/e2e/specs/indexables/comments.spec.ts
  tests/e2e/utils.ts
Due: none

Test feature interface
  tests/cypress/integration/features/interface.cy.js
  tests/e2e/specs/feature-interface.spec.ts
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
