Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use dynamyc plugin slug
  tests/e2e/specs/wp-cli.spec.ts
Due: none

Fix search test
  tests/e2e/specs/search/search.spec.ts
Due: none

Clean up + fix custom results tests
  includes/classes/REST/SearchOrdering.php
  tests/cypress/integration/features/search/synonyms.cy.js
  tests/cypress/integration/features/search/weighting.cy.js
  tests/e2e/specs/custom-results.spec.ts
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

ACF Repeater test
  tests/cypress/integration/features/acf-repeater.cy.js
  tests/e2e/specs/acf-repeater.spec.ts
Due: 10up-toolkit lint-js

Move code from beforeAll
  tests/e2e/specs/acf-repeater.spec.ts
Due: none

Instant Results
  tests/cypress/integration/features/instant-results.cy.js
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Small adjustments
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/specs/wp-cli.spec.ts
  tests/e2e/utils.ts
Due: none

make sure woocommerce is disabled
  tests/e2e/specs/wp-cli.spec.ts
Due: none

Wait the post to be saved
  tests/e2e/specs/related-posts.spec.ts
Due: none

Some debugging
  tests/e2e/specs/instant-results.spec.ts
Due: none

More debugging
  tests/e2e/specs/acf-repeater.spec.ts
  tests/e2e/specs/instant-results.spec.ts
Due: none

Proper debugging now
  tests/e2e/specs/instant-results.spec.ts
Due: none

do not exit on error
  tests/e2e/specs/instant-results.spec.ts
Due: none

Output on error
  tests/e2e/specs/instant-results.spec.ts
Due: none

Make sure CPTs are available
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/utils.ts
Due: none

More debugging
  tests/e2e/specs/instant-results.spec.ts
Due: none

Fix WP_Query test call
  tests/e2e/specs/instant-results.spec.ts
Due: none

Try with a different category
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/wordpress-files/test-plugins/filter-instant-results-category-terms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Wait until ACF panel is open
  tests/e2e/specs/acf-repeater.spec.ts
Due: none

Debug category assignment
  bin/setup-e2e-env.sh
Due: none

WooCommerce e2e Tests
  tests/cypress/integration/features/woocommerce.cy.js
  tests/e2e/specs/woocommerce.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Add support for multiple post types
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  tests/php/features/TestProtectedContent.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update tests
  tests/php/features/TestProtectedContent.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for Painless Script for filters
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add Painless script support
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Facets e2e tests
  .wp-env.json
  tests/cypress/.eslintrc.json
  tests/cypress/.gitignore
  tests/cypress/README.md
  tests/cypress/config.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/support/assertions.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands/block-editor.js
  tests/cypress/support/functions/get-iframe.js
  tests/cypress/support/global-hooks.js
  tests/cypress/support/index.js
  tests/e2e/block-editor.ts
  tests/e2e/fixtures.ts
  tests/e2e/specs/facets.spec.ts
  tests/e2e/wordpress-files/test-plugins/add-meta-fields.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust term update test
  tests/e2e/specs/indexables/post.spec.ts
Due: none

EP.io + Screenshots and videos
  .github/workflows/playwright.yml
  tests/e2e/playwright.config.ts
Due: none

Split tests in groups
  .github/workflows/playwright.yml
  tests/e2e/specs/acf-repeater.spec.ts
  tests/e2e/specs/autosuggest.spec.ts
  tests/e2e/specs/custom-results.spec.ts
  tests/e2e/specs/dashboard-sync.spec.ts
  tests/e2e/specs/documents.spec.ts
  tests/e2e/specs/facets.spec.ts
  tests/e2e/specs/feature-interface.spec.ts
  tests/e2e/specs/general.spec.ts
  tests/e2e/specs/indexables/comments.spec.ts
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/specs/indexables/terms.spec.ts
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/specs/protected-content.spec.ts
  tests/e2e/specs/related-posts.spec.ts
  tests/e2e/specs/search/search.spec.ts
  tests/e2e/specs/search/synonyms.spec.ts
  tests/e2e/specs/search/weighting.spec.ts
  tests/e2e/specs/status-report.spec.ts
  tests/e2e/specs/woocommerce.spec.ts
  tests/e2e/specs/wp-basic.spec.ts
  tests/e2e/specs/wp-cli.spec.ts
Due: none

Fix call with groups
  .github/workflows/playwright.yml
Due: none

Fix artifacts names
  .github/workflows/playwright.yml
Due: none

Try to delete es indices on EP.io whatever the results are
  .github/workflows/playwright.yml
Due: none

Get the comments count dynamically
  tests/e2e/specs/indexables/comments.spec.ts
Due: none

Fix WooCommerce test
  tests/e2e/specs/woocommerce.spec.ts
Due: none

Remove cypress references and packages
  package-lock.json
  package.json
Due: none

Fix WP 6.2 title field (code mode)
  tests/e2e/utils.ts
Due: none

Lint fix + less debugging
  bin/setup-e2e-env.sh
  tests/e2e/fixtures.ts
  tests/e2e/specs/instant-results.spec.ts
  tests/e2e/utils.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
