Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

manually specify dependencies
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Combine and move tests
  tests/cypress/integration/features/interface.cy.js
  tests/cypress/integration/settings/choice-persists-on-reload.cy.js
  tests/cypress/integration/settings/groups.cy.js
Due: 10up-toolkit lint-js

Refactor groups: centralized labels, new filter
  assets/js/features/apps/features.js
  assets/js/features/config.js
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  includes/classes/Features.php
  includes/classes/Screen/Features.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move tests to interface.cy.js
  tests/cypress/integration/features/groups.cy.js
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Fix linting issue
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Don't check a boolean when it is a string
  tests/e2e/utils.ts
Due: none

Full sync
  tests/e2e/specs/dashboard-sync.spec.ts
Due: none

We don't neet to wait for this sync to be completed
  tests/e2e/specs/dashboard-sync.spec.ts
Due: none

Add doc block
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Autosuggest tests
  tests/cypress/integration/features/autosuggest.cy.js
  tests/e2e/specs/autosuggest.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Document Feature tests
  tests/cypress/integration/features/documents.cy.js
  tests/e2e/fixtures/acf-repeater-field-test.json
  tests/e2e/fixtures/csv-file.csv
  tests/e2e/fixtures/example.json
  tests/e2e/fixtures/pdf-file.pdf
  tests/e2e/fixtures/pptx-file.pptx
  tests/e2e/fixtures/txt-file.txt
  tests/e2e/specs/documents.spec.ts
Due: 10up-toolkit lint-js

Protected Content tests
  tests/cypress/integration/features/protected-content.cy.js
  tests/e2e/specs/protected-content.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Move tests to interface file; Adjust casing of requires_fields
  assets/js/features/components/control.js
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

More filters for Instant Results
  assets/js/api-search/index.js
  assets/js/instant-results/components/facets/facet.js
  assets/js/instant-results/components/facets/post-type-facet.js
Due: 10up-toolkit lint-js

Unit test for ep_feature_groups
  includes/classes/Features.php
  includes/classes/Screen/Features.php
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP
  assets/js/api-search/index.js
  assets/js/instant-results/components/results/pagination.js
Due: 10up-toolkit lint-js

WIP
  assets/js/instant-results/components/results/did-you-mean.js
Due: 10up-toolkit lint-js

Initial WIP autocomplete v2 build-out
  assets/css/autosuggest-v2.css
  assets/js/autosuggest-v2/components/AutosuggestUI.js
  assets/js/autosuggest-v2/components/FilterTabs.js
  assets/js/autosuggest-v2/components/SuggestionItem.js
  assets/js/autosuggest-v2/components/SuggestionList.js
  assets/js/autosuggest-v2/index.js
  assets/js/autosuggest-v2/src/config.js
  assets/js/autosuggest-v2/src/context.js
  assets/js/autosuggest-v2/src/useAutosuggestInput.js
  elasticpress.php
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Autosuggest v2 filterable, hookable react component buildout
  assets/css/autosuggest-v2.css
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/autosuggest-v2/components/AutosuggestUI.js
  assets/js/autosuggest-v2/components/FilterTabs.js
  assets/js/autosuggest-v2/components/SuggestionItem.js
  assets/js/autosuggest-v2/components/SuggestionList.js
  assets/js/autosuggest-v2/index.js
  assets/js/autosuggest-v2/readme.md
  assets/js/autosuggest-v2/src/hooks.js
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for non-url based api-searches
  assets/js/api-search/index.js
  assets/js/autosuggest-v2/index.js
Due: 10up-toolkit lint-js

Add validation check for thumbnails
  assets/js/autosuggest-v2/components/AutosuggestUI.js
Due: 10up-toolkit lint-js

Match styling to autosuggest v1
  assets/css/autosuggest-v2.css
Due: 10up-toolkit lint-style

Adjust group property to new standard
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Small test adjustment
  tests/cypress/integration/features/interface.cy.js
Due: 10up-toolkit lint-js

Minor change
  assets/js/instant-results/components/results/did-you-mean.js
  assets/js/instant-results/components/results/pagination.js
Due: 10up-toolkit lint-js

Fix: 'Filter by Taxonomy' widget does not appear in Elementor
  assets/css/facets.css
  assets/js/facets.js
  includes/classes/Feature/Facets/Block.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Date/Block.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/PostType/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix sizing & wrapping for long feature or group names
  assets/js/features/style.css
Due: 10up-toolkit lint-style

Disable transition while not clicking toggle
  assets/js/features/style.css
Due: 10up-toolkit lint-style

ES 8.16 compatibility: Remove side from edge_ngram tokenizer
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Refactor, clean-up
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/autosuggest-v2/components/AutosuggestUI.js
  assets/js/autosuggest-v2/components/SuggestionItem.js
  assets/js/autosuggest-v2/components/SuggestionList.js
  assets/js/autosuggest-v2/config.js
  assets/js/autosuggest-v2/hooks.js
  assets/js/autosuggest-v2/index.js
  assets/js/autosuggest-v2/readme.md
  assets/js/autosuggest-v2/src/context.js
  assets/js/autosuggest-v2/src/hooks.js
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update hook documentation
  assets/js/autosuggest-v2/readme.md
Due: none

Minor linting fixes
  assets/js/api-search/index.js
  package.json
Due: 10up-toolkit lint-js

Add the Date Filter widgett
  includes/classes/Feature/Facets/Types/Date/FacetType.php
  includes/classes/Feature/Facets/Types/Date/Renderer.php
  includes/classes/Feature/Facets/Types/Date/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Hide legacy widget
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Date/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

cleanup
  includes/classes/Feature/Facets/Types/Date/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Feature/Facets/Types/Date/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update tests
  tests/php/features/TestFacet.php
  tests/php/features/TestFacetTypeDate.php
  tests/php/features/TestFacetTypeMeta.php
  tests/php/features/TestFacetTypeMetaRange.php
  tests/php/features/TestFacetTypePostType.php
  tests/php/features/TestFacetTypeTaxonomy.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add Meta block
  assets/css/facets.css
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Date/Renderer.php
  includes/classes/Feature/Facets/Types/Date/Widget.php
  includes/classes/Feature/Facets/Types/Meta/FacetType.php
  includes/classes/Feature/Facets/Types/Meta/Widget.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor changes
  includes/classes/Feature/Facets/Types/Date/Renderer.php
  includes/classes/Feature/Facets/Types/Date/Widget.php
  includes/classes/Feature/Facets/Types/Meta/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add meta range block
  includes/classes/Feature/Facets/Types/Meta/Widget.php
  includes/classes/Feature/Facets/Types/MetaRange/FacetType.php
  includes/classes/Feature/Facets/Types/MetaRange/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
