Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add latest PRs
  CHANGELOG.md
Due: none

Deactivate a feature that is only in draft
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cast settings to array
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Click on the WooCommerce feature tab
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Changelogs
  CHANGELOG.md
  readme.txt
Due: none

Update .pot file + i18n comments
  assets/js/features/components/control.js
  assets/js/instant-results/components/facets/price-range-facet.js
  assets/js/sync-ui/components/previous-sync.js
  assets/js/weighting/components/group.js
  lang/elasticpress.pot
Due: 10up-toolkit lint-js

Fix typos
  CHANGELOG.md
  assets/js/autosuggest/index.js
  assets/js/blocks/facets/common/components/range-filter.js
  assets/js/instant-results/components/facets/post-type-facet.js
  assets/js/instant-results/components/facets/price-range-facet.js
  assets/js/instant-results/components/facets/search-term-facet.js
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/tools/active-constraints.js
  assets/js/instant-results/components/tools/sidebar-toggle.js
  assets/js/instant-results/components/tools/sort.js
  assets/js/instant-results/hooks.js
  assets/js/synonyms/components/SynonymsEditor.js
  assets/js/synonyms/utils.js
  assets/js/weighting/components/group.js
  assets/js/weighting/provider.js
  assets/js/woocommerce/admin/orders/app/components/combobox.js
  assets/js/woocommerce/admin/orders/hooks.js
  includes/classes/DeprecatedCommand.php
  includes/classes/Elasticsearch.php
  includes/classes/Feature.php
  includes/classes/Feature/Facets/Types/Meta/Block.php
  includes/classes/Feature/Facets/Types/MetaRange/Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Features.php
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Indexable/Term/SyncManager.php
  includes/classes/SyncManager.php
  readme.txt
  tests/cypress/integration/features/instant-results.cy.js
  tests/php/bootstrap.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update LastSync.php
  includes/classes/StatusReport/LastSync.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Avoid syncing empty queues and/or documents
  includes/classes/Indexable.php
  includes/classes/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix selectors for WP 6.4
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Adjust WooCommerce tests
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Wrap call with WP-CLI command
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Fix console error
  tests/cypress/wordpress-files/test-plugins/open-instant-results-with-buttons.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

moved index offset reset before message output in indexer cleanup process
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Better handle failed queries on the Stats page
  includes/classes/Stats.php
  includes/partials/stats-page.php
  tests/php/TestStats.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update json_encode call
  includes/classes/Stats.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make sure the queried object was found before using it
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix error for autosuggest feature when site has a bad cookie
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix i18n of some strings
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Check facet attribute before using it
  includes/classes/Feature/Facets/FacetType.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump version number and WP version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial changelog of EP 5.0.1
  CHANGELOG.md
  CREDITS.md
Due: none

Expose a sliderChange method to Cypress
  assets/js/blocks/facets/common/components/range-filter.js
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Try to debug composer packages downloaded
  .github/workflows/cypress-tests.yml
Due: none

bypass composer cache
  .github/workflows/cypress-tests.yml
Due: none

only exports the vendor folder
  .github/workflows/cypress-tests.yml
Due: none

build zip
  .github/workflows/cypress-tests.yml
Due: none

zip if fails
  .github/workflows/cypress-tests.yml
Due: none

bypass cache, php setup + composer verbosity
  .github/workflows/cypress-tests.yml
Due: none

Get cache back and remove php setup
  .github/workflows/cypress-tests.yml
Due: none

Add PHP setup back
  .github/workflows/cypress-tests.yml
Due: none

try with php 8.1
  .github/workflows/cypress-tests.yml
Due: none

Force not loading PHP-Psr
  .github/workflows/cypress-tests.yml
Due: none

Apply the fix in all actions
  .github/workflows/build-and-tag.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-with-vendor-prefixed.yml
  .github/workflows/cypress-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Add PRs to the changelog
  CHANGELOG.md
Due: none

readme.txt changelog
  readme.txt
Due: none

Update maintainers
  CREDITS.md
  readme.txt
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
