Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust unit test
  tests/php/TestContainer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

change phpVersion place
  .wp-env.json
Due: none

Try with 7.2
  .wp-env.json
Due: none

Remove phpVersion
  .wp-env.json
Due: none

remove cs2pr to debug
  .github/workflows/lint.yml
Due: none

Rename file and adjust artifact name
  .github/workflows/build-with-vendor-prefixed.yml
Due: none

Ignore vendor-prefixed while linting
  .github/workflows/lint.yml
  phpcs.xml
Due: none

Force psr/container to 1.0
  composer.json
  composer.lock
Due: none

Bump version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

4.7.1 Changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Update the pot file
  lang/elasticpress.pot
Due: none

Update dates in both changelogs
  CHANGELOG.md
  readme.txt
Due: none

Call composer while building docs
  .github/workflows/build-docs.yml
Due: none

Call composer in the correct folder
  .github/workflows/build-docs.yml
Due: none

Bump PHP version
  .github/workflows/build-docs.yml
Due: none

deploy: 748f4c5b9d771ae1bc9b4e3814169c680f86fd48
  elasticpress.php.html
  includes_classes_Container.php.html
  includes_classes_Feature_WooCommerce_Orders.php.html
  includes_classes_Feature_WooCommerce_Products.php.html
  includes_classes_Feature_WooCommerce_WooCommerce.php.html
  orderby_meta_mapping.html
Due: none

Only run on push to trunk
  .github/workflows/build-docs.yml
Due: none

Rename sync scripts directory.
  assets/js/sync-ui/components/common/date-time.js
  assets/js/sync-ui/components/common/message-log.js
  assets/js/sync-ui/components/common/progress-bar.js
  assets/js/sync-ui/components/icons/pause.js
  assets/js/sync-ui/components/icons/play.js
  assets/js/sync-ui/components/icons/stop.js
  assets/js/sync-ui/components/icons/sync.js
  assets/js/sync-ui/components/icons/thumbs-down.js
  assets/js/sync-ui/components/icons/thumbs-up.js
  assets/js/sync-ui/components/sync-page.js
  assets/js/sync-ui/components/sync/controls.js
  assets/js/sync-ui/components/sync/log.js
  assets/js/sync-ui/components/sync/panel.js
  assets/js/sync-ui/components/sync/progress.js
  assets/js/sync-ui/components/sync/status.js
  assets/js/sync-ui/config.js
  assets/js/sync-ui/hooks.js
  assets/js/sync-ui/index.js
  assets/js/sync-ui/utilities.js
  package.json
Due: 10up-toolkit lint-js

Abstract Sync page logic into a provider pattern.
  assets/js/sync-ui/apps/settings-page.js
  assets/js/sync-ui/components/sync/controls.js
  assets/js/sync-ui/components/sync/panel.js
  assets/js/sync-ui/index.js
  assets/js/sync/index.js
  assets/js/sync/src/hooks.js
  assets/js/sync/src/utilities.js
Due: 10up-toolkit lint-js

Improving phpDoc
  includes/classes/Indexable.php
  includes/classes/Indexables.php
  includes/classes/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Don't make all keys available as weightable fields.
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

WIP: Allow adding arbitrary metadata.
  assets/js/weighting/apps/settings-page.js
  assets/js/weighting/components/actions.js
  assets/js/weighting/components/common/delete-button.js
  assets/js/weighting/components/field.js
  assets/js/weighting/components/group.js
  assets/js/weighting/components/post-type.js
  assets/js/weighting/components/weighting.js
  assets/js/weighting/components/weighting/post-type.js
  assets/js/weighting/components/weighting/post-type/fields.js
  assets/js/weighting/config.js
  assets/js/weighting/index.js
  assets/js/weighting/provider.js
  assets/js/weighting/utilities.js
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/Products.php
  includes/dashboard.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update package-lock.json.
  package-lock.json
Due: none

Rearrange for cleaner diff.
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update validation of custom fields.
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update @since versions.
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix PHPCS issues. Remove redundant test.
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update custom field test.
  tests/cypress/integration/features/search/weighting.cy.js
Due: 10up-toolkit lint-js

Only show custom fields for relevant post types.
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/Products.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove undo functionality.
  assets/js/weighting/components/actions.js
  assets/js/weighting/components/common/delete-button.js
  assets/js/weighting/components/common/undo-button.js
  assets/js/weighting/components/field.js
  assets/js/weighting/provider.js
  package.json
Due: 10up-toolkit lint-js

Add notices. Tweak styles.
  assets/css/weighting.css
  assets/css/weighting/add-new.css
  assets/css/weighting/field.css
  assets/css/weighting/screen.css
  assets/js/weighting/apps/settings-page.js
  assets/js/weighting/components/group.js
  assets/js/weighting/provider.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

fix(php version): added a php version check
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Ensure custom results taxonomy is not public.
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Small tweaks.
  assets/css/weighting.css
  assets/css/weighting/field.css
  assets/css/weighting/post-type.css
  assets/js/weighting/apps/settings-page.js
  assets/js/weighting/components/actions.js
  assets/js/weighting/components/post-type.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Corrected comments to include max_fragments parameter.
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Replace Sync AJAX callback with REST API endpoint.
  assets/js/sync-ui/config.js
  assets/js/sync-ui/index.js
  assets/js/sync/index.js
  assets/js/sync/src/hooks.js
  includes/classes/REST/Sync.php
  includes/classes/Screen/Sync.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update AJAX URL in tests.
  tests/cypress/integration/dashboard-sync.cy.js
Due: 10up-toolkit lint-js

Add @since tag.
  includes/classes/Screen/Sync.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move comments endpoint to controller class.
  includes/classes/Feature/Comments/Comments.php
  includes/classes/REST/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
