Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

e2e - DB Cache + fixes
  .github/workflows/playwright.yml
  .gitignore
  CHANGELOG.md
  Makefile
  bin/setup-e2e-env.sh
  tests/e2e/README.md
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/wordpress-files/test-docs/content-example.xml
Due: none

Make 10up-toolkit 7 work with WP 6.2
  CHANGELOG.md
  includes/dashboard.php
  tests/e2e/README.md
  tests/e2e/src/utils.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix E2E tests
  includes/classes/Screen/Settings.php
  includes/partials/settings-page.php
  tests/e2e/src/specs/settings-token.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

FIx expected copy
  tests/e2e/src/specs/settings-token.spec.ts
Due: none

Fix test_action_admin_init_wrong_host
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Privileged action + PHP 8.0 with min versions
  .github/workflows/playwright-privileged.yml
  CONTRIBUTING.md
  tests/e2e/README.md
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/specs/wp-basic.spec.ts
  tests/e2e/src/utils.ts
Due: none

fix: restore-only caches in privileged e2e workflow
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
Due: none

Fix the matrix
  .github/workflows/playwright.yml
Due: none

Run both groups in the same run
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
  tests/e2e/README.md
  tests/e2e/src/playwright.config.ts
Due: none

Fix tests + speed up playwright install
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
  tests/e2e/src/utils.ts
Due: none

Try to satisfy GH code scanning
  .github/workflows/playwright-privileged.yml
Due: none

More test fixes
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
  tests/e2e/src/specs/wp-cli.spec.ts
  tests/e2e/src/utils.ts
Due: none

Add privileged e2e gate workflow and update privileged workflow
  .github/workflows/playwright-privileged-gate.yml
  .github/workflows/playwright-privileged.yml
  tests/e2e/README.md
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
Due: none

More test fixes
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/wp-cli.spec.ts
  tests/e2e/src/utils.ts
Due: none

Another pass on tests
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/global.setup.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
  tests/e2e/src/specs/indexables/post.spec.ts
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/search/search.spec.ts
  tests/e2e/src/specs/search/weighting.spec.ts
Due: none

Refactor assertions in TestProtectedContent to use assertEqualsCanonicalizing for improved consistency.
  tests/php/features/TestProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use runner's chrome
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
  tests/e2e/src/playwright.config.ts
Due: none

More tests fixes
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/indexables/terms.spec.ts
Due: none

Download ffmpeg
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
Due: none

Fix ACF test
  tests/e2e/src/specs/acf-repeater.spec.ts
Due: none

Update E2E tests and configurations for improved reliability and performance
  .gitignore
  bin/es-docker/docker-compose.yml
  bin/setup-e2e-env.sh
  tests/e2e/src/block-editor.ts
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/specs/dashboard-sync.spec.ts
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
  tests/e2e/src/specs/indexables/post.spec.ts
  tests/e2e/src/specs/indexables/terms.spec.ts
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/specs/search/synonyms.spec.ts
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/e2e/src/specs/wp-cli.spec.ts
  tests/e2e/src/utils.ts
Due: none

Fix typo and update action versions
  .github/workflows/build-and-tag.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-with-vendor-prefixed.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/lint.yml
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-playwright-utils.yml
  .github/workflows/push-asset-readme-update.yml
  .github/workflows/push-deploy.yml
  .github/workflows/secrets-scan.yml
  .github/workflows/test.yml
  .github/workflows/typos.yml
  bin/setup-e2e-env.sh
Due: none

Run on chromium
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
  tests/e2e/README.md
  tests/e2e/src/playwright.config.ts
  tests/e2e/src/specs/custom-results.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

More fixes
  tests/e2e/src/specs/dashboard-sync.spec.ts
  tests/e2e/src/specs/indexables/terms.spec.ts
  tests/e2e/src/specs/instant-results.spec.ts
  tests/e2e/src/specs/protected-content.spec.ts
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

More test fixes
  tests/e2e/src/specs/custom-results.spec.ts
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/specs/facets.spec.ts
  tests/e2e/src/specs/indexables/comments.spec.ts
Due: none

Test fixes + db cache tweak
  bin/setup-e2e-env.sh
  tests/e2e/README.md
  tests/e2e/src/specs/documents.spec.ts
Due: none

Update changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Fix: Deprecated __experimentalShowHowTo
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Fix: Notice desig issue on WordPress 7.1
  assets/js/features/style.css
Due: 10up-toolkit lint-style

documentation: update elasticpress.io article urls
  assets/js/features/index.js
  assets/js/sync-ui/components/controls.js
  assets/js/sync/src/hooks.js
  assets/js/synonyms/components/groups/replacements.js
  includes/classes/AdminNotices.php
  includes/classes/ElasticsearchErrorInterpreter.php
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  includes/classes/IndexHelper.php
  includes/classes/Upgrades.php
  tests/php/TestAdminNotices.php
  tests/php/TestElasticsearchErrorInterpreter.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump minimum version
  .github/workflows/playwright-privileged.yml
  .github/workflows/playwright.yml
Due: none

Fix test
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Bump minimum version
  Makefile
Due: none

Fix E2E tests
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Add more filters
  assets/js/instant-results/components/common/result.js
  assets/js/instant-results/components/facets/facet.js
  assets/js/instant-results/components/facets/post-type-facet.js
  assets/js/instant-results/components/layout.js
  assets/js/instant-results/components/layout/header.js
  assets/js/instant-results/components/layout/results.js
  assets/js/instant-results/components/results/did-you-mean.js
  assets/js/instant-results/components/results/pagination.js
  assets/js/instant-results/components/results/results-list.js
  assets/js/instant-results/index.js
Due: 10up-toolkit lint-js

Add update routine
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove the "remove token" checkbox from the settings page
  includes/classes/Screen/Settings.php
  includes/partials/settings-page.php
  tests/e2e/src/specs/settings-token.spec.ts
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change copy
  includes/classes/Screen/Settings.php
  tests/e2e/src/specs/settings-token.spec.ts
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Last PRs
  CHANGELOG.md
  readme.txt
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
