Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Add requires_features support to PHPUnit test
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change camel case to snake case
  assets/js/features/components/settings.js
  tests/cypress/integration/features/field-dependency.cy.js
Due: 10up-toolkit lint-js

Explicit permissions
  .github/workflows/playwright.yml
Due: none

Editor iframe
  tests/cypress/integration/general.cy.js
  tests/cypress/integration/wp-basic.cy.js
  tests/e2e/specs/general.spec.ts
  tests/e2e/specs/wp-basic.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

URLParams -> Router Package
  assets/js/features/apps/features.js
  assets/js/features/style.css
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

i18n Group Names -> Group Slugs
  assets/js/features/apps/features.js
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor patches
  assets/js/features/style.css
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  package-lock.json
  package.json
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor patches
  assets/js/features/apps/features.js
  assets/js/features/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Minor patches
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Update WC Test for new markup
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Implement feedback
  assets/js/features/apps/features.js
  assets/js/features/style.css
  includes/classes/Feature/AcfRepeater/AcfRepeater.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  package.json
  tests/cypress/integration/settings/choice-persists-on-reload.cy.js
  tests/cypress/integration/settings/groups.cy.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Dashboard Sync tests
  tests/e2e/specs/dashboard-sync.spec.ts
  tests/e2e/specs/global.setup.ts
  tests/e2e/utils.ts
Due: none

Status Report
  tests/cypress/integration/dashboard-sync.cy.js
  tests/cypress/integration/status-report.cy.js
  tests/e2e/specs/status-report.spec.ts
Due: 10up-toolkit lint-js

indexables/post tests
  tests/cypress/integration/indexables/post.cy.js
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/utils.ts
Due: 10up-toolkit lint-js

Tests adjustments
  tests/e2e/specs/general.spec.ts
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/utils.ts
Due: none

Force click to see the post
  tests/e2e/specs/indexables/post.spec.ts
Due: none

Different approach to iterate over cells
  tests/e2e/specs/general.spec.ts
Due: none

Test different approach to visit the page being edited
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/utils.ts
Due: none

Wait until the page is fully loaded
  tests/e2e/specs/general.spec.ts
Due: none

Make sure settings are reset (and features are re-enabled)
  tests/e2e/specs/dashboard-sync.spec.ts
  tests/e2e/specs/global.setup.ts
  tests/e2e/utils.ts
Due: none

Autosuggest v2 filterable, hookable react component buildout
  assets/css/autosuggest-v2.css
  assets/js/api-search/index.js
  assets/js/api-search/src/reducer.js
  assets/js/autosuggest-v2/components/AutosuggestUI.js
  assets/js/autosuggest-v2/components/FilterTabs.js
  assets/js/autosuggest-v2/components/SuggestionItem.js
  assets/js/autosuggest-v2/components/SuggestionList.js
  assets/js/autosuggest-v2/index.js
  assets/js/autosuggest-v2/readme.md
  assets/js/autosuggest-v2/src/hooks.js
  includes/classes/Feature/AutosuggestV2/AutosuggestV2.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for non-url based api-searches
  assets/js/api-search/index.js
  assets/js/autosuggest-v2/index.js
Due: 10up-toolkit lint-js

Add validation check for thumbnails
  assets/js/autosuggest-v2/components/AutosuggestUI.js
Due: 10up-toolkit lint-js

Match styling to autosuggest v1
  assets/css/autosuggest-v2.css
Due: 10up-toolkit lint-style

Renaming, refactoring, and WP 6.2
  tests/e2e/specs/dashboard-sync.spec.ts
  tests/e2e/specs/global.setup.ts
  tests/e2e/specs/indexables/post.spec.ts
  tests/e2e/utils.ts
Due: none

Remove group slug from routing
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Autosuggest v2 Tests
  tests/cypress/integration/features/autosuggest-v2.cy.js
  tests/cypress/integration/features/child-theme/build/index.js
  tests/cypress/integration/features/child-theme/build/index.js.map
  tests/cypress/integration/features/child-theme/build/style-index-rtl.css
  tests/cypress/integration/features/child-theme/build/style-index.css
  tests/cypress/integration/features/child-theme/build/style-index.css.map
  tests/cypress/integration/features/child-theme/functions.php
  tests/cypress/integration/features/child-theme/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Reorganize tests
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/build/index.js
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/functions.php
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/style.css
  tests/cypress/integration/features/child-theme/build/index.js.map
  tests/cypress/integration/features/child-theme/build/style-index-rtl.css
  tests/cypress/integration/features/child-theme/build/style-index.css
  tests/cypress/integration/features/child-theme/build/style-index.css.map
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust features group slug for tests
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Add test cleanup
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Adjust test for github workflow
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Adjust github runner paths for test
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Adjust tests for github workflow
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/functions.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add test logging
  tests/cypress/config.js
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Tests logging v2
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Reapproach tests to use script injection for hooks
  tests/cypress/integration/features/autosuggest-v2.cy.js
  tests/cypress/integration/features/autosuggest-v2/autosuggest-v2.cy.js
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/build/index.js
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/functions.php
  tests/cypress/integration/features/autosuggest-v2/tests-child-theme/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Task runner test prep + logging
  tests/cypress/integration/features/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Add cleanup to test
  tests/cypress/integration/features/autosuggest-v2.cy.js
Due: 10up-toolkit lint-js

Add setup step for ES
  .github/workflows/cypress-tests.yml
Due: none

Revert "Add setup step for ES"
  .github/workflows/cypress-tests.yml
Due: none
