Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move ElasticPress.io branding to is_epio property.
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Include visibility in JSON data.
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change property name.
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Wait for the ajax request in the second time too
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Wait for ajax requests
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Remove extra condition
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Try repeating the timeout
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Updated feature settings UI.
  assets/js/features/apps/features.js
  assets/js/features/components/control.js
  assets/js/features/components/feature.js
  assets/js/features/components/settings.js
  assets/js/features/components/tab.js
  assets/js/features/config.js
  assets/js/features/index.js
  assets/js/features/provider.js
  assets/js/features/style.css
  includes/classes/Feature/Search/Search.php
  includes/classes/Screen/Dashboard.php
  includes/classes/Screen/Features.php
  includes/partials/dashboard-page.php
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Rename Features screen class.
  includes/classes/Screen.php
  includes/classes/Screen/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Prevent saving settings when syncing.
  assets/js/features/apps/features.js
  assets/js/features/provider.js
  assets/js/features/style.css
  includes/classes/REST/Features.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix error with facet selector.
  assets/js/instant-results/admin/index.js
Due: 10up-toolkit lint-js

Fix lint
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Update tests.
  tests/cypress/integration/dashboard-sync.cy.js
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/documents.cy.js
  tests/cypress/integration/features/facets.cy.js
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/integration/features/protected-content.cy.js
  tests/cypress/integration/features/search/search.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/integration/features/woocommerce.cy.js
  tests/cypress/integration/general.cy.js
  tests/cypress/support/index.js
  tests/php/features/TestSearch.php
  tests/php/indexables/TestPost.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update unit tests.
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add requires_feature to tests.
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests.
  assets/js/features/apps/features.js
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Update highlight setting type.
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add missing properties to test.
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test fixes.
  includes/classes/Feature/Search/Search.php
  tests/php/features/TestSearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix is_decaying_enabled check.
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove test that is no longer relevant.
  tests/php/features/TestDidYouMean.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update property for features screen.
  includes/classes/Screen.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add missing text domain.
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Fix documents test.
  tests/cypress/integration/features/documents.cy.js
Due: 10up-toolkit lint-js

Fix visibility check in availability check.
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix orders autosuggest availability.
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow HTML in requirements notices.
  assets/js/features/components/feature.js
Due: 10up-toolkit lint-js

Require sync for orders autosuggest setting.
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix error on invalid values for filter picker.
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Fix documents tests
  tests/cypress/integration/features/documents.cy.js
Due: 10up-toolkit lint-js

Fix Custom Results
  tests/cypress/integration/features/custom-results.cy.js
Due: 10up-toolkit lint-js

DB Soft reset
  package.json
  tests/cypress/README.md
Due: none

Fix Instant Results tests
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Add Date block
  assets/css/facets.css
  assets/js/blocks/facets/date/block.json
  assets/js/blocks/facets/date/edit.js
  assets/js/blocks/facets/date/index.js
  assets/js/blocks/facets/date/view.js
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/Facets/Types/Date/Block.php
  includes/classes/Feature/Facets/Types/Date/FacetType.php
  includes/classes/Feature/Facets/Types/Date/Renderer.php
  package.json
  tests/cypress/integration/features/facets.cy.js
  tests/php/features/TestFacetTypeDate.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Tests for WordPress 6.0
  assets/css/facets.css
  includes/classes/Feature/Facets/Types/Date/Block.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Change html structure
  assets/css/facets.css
  includes/classes/Feature/Facets/Types/Date/Renderer.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial changelog for ElasticPress 5.0.0
  CHANGELOG.md
  CREDITS.md
Due: none

Js error
  assets/js/blocks/facets/date/view.js
Due: 10up-toolkit lint-js

Add additonal tests
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Fix warning on Sync page: Each child in a list should have a unique key prop.
  assets/js/sync-ui/components/sync-history.js
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
