Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update Cypress
  package-lock.json
  package.json
Due: none

Rearrange lines a bit
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Fix lint and adjust `@since` tag
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove Indexables from args methods.
  includes/classes/REST/MetaRange.php
  includes/classes/REST/Taxonomies.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Post type parameter is not required.
  includes/classes/REST/Comments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix incorrect sidebars endpoint.
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Catch errors fetching results.
  assets/js/api-search/index.js
  assets/js/api-search/src/hooks.js
Due: 10up-toolkit lint-js

More PRs added to 4.7.2
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Fix throws error for PHP 8
  composer.lock
Due: none

Revert changes if it was not possible to connect to new ES Host
  includes/dashboard.php
  includes/partials/settings-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: Doc block for ep_capability and ep_network_capability filters
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix default value
  includes/utils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: Filter metadata throws warning ReactDOM.render is no longer supported in React 18
  assets/js/blocks/facets/meta-range/view.js
Due: 10up-toolkit lint-js

Move Settings-related code to a new class
  includes/classes/Screen.php
  includes/classes/Screen/Settings.php
  includes/dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: You passed a container to the second argument of root.render
  assets/js/instant-results/index.js
Due: 10up-toolkit lint-js

Unit tests
  tests/php/screen/TestSettings.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Tear down WC functionalities when the plugin is not active
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/Products.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Initialize the sync_queue for a given blog ID
  includes/classes/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust method names
  includes/classes/Indexable/Term/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix: Number of expected aruguments
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Hide Comments and Terms by default
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/Terms/Terms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Make features visible for e2e tests
  .wp-env.json
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/integration/features/terms.cy.js
  tests/cypress/wordpress-files/test-plugins/show-comments-and-terms.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust unit tests
  tests/php/features/TestComments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Index a full srcset for the post thumbnail
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add more PRs to 4.7.2
  CHANGELOG.md
  readme.txt
Due: none

Update the .pot file
  assets/js/api-search/index.js
  assets/js/api-search/src/hooks.js
  lang/elasticpress.pot
Due: 10up-toolkit lint-js

Update release date
  CHANGELOG.md
  readme.txt
Due: none

Fix unit tests
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/php/bootstrap.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update Block.php
  includes/classes/Feature/Facets/Types/Taxonomy/Block.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

WIP
  assets/css/instant-results/result.css
  assets/js/instant-results/components/common/image.js
  includes/classes/Indexable/Post/Post.php
  tests/php/indexables/TestPost.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Adjust docblock
  includes/classes/Screen/Settings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Make sure to revert back to the correct ES version
  includes/classes/Screen/Settings.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Set WP and WC versions using the cypress:setup command
  .github/workflows/cypress-tests.yml
  bin/setup-cypress-env.sh
Due: none

Fix WP version
  .github/workflows/cypress-tests.yml
Due: none

Use WC 6 instead of 8
  .github/workflows/cypress-tests.yml
Due: none

Install WooCommerce using the setup script
  .wp-env.json
  bin/setup-cypress-env.sh
Due: none

Apply versions to EP.io
  .github/workflows/cypress-tests.yml
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
