Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

use createRoot with a render fallback
  assets/js/sites-admin.js
Due: 10up-toolkit lint-js

update workflow name
  .github/workflows/typos.yml
Due: none

fix typo
  assets/js/blocks/facets/meta-range/view.js
Due: 10up-toolkit lint-js

update extend ignore
  .typos.toml
Due: none

extend-words supposably
  .typos.toml
Due: none

scan identifiers and allowlist avaiableServices
  .typos.toml
Due: none

scan tests folder and allowlist beautful
  .typos.toml
Due: none

Fix TypeError in json_decode when template content is an array
  includes/classes/ElementorUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(woocommerce): use decimal field in price filter range query
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(test): pin woocommerce_tax_based_on in testPriceFilterWithTax
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Store meta and taxonomy as json
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add test
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

update tests
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add new tests
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Fix test
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/e2e/src/specs/woocommerce.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Try to fix the tests
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/e2e/src/specs/woocommerce.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Fix tests
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Show WP CLI error
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump WOoCoomerce
  .github/workflows/playwright.yml
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

update test
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

update test
  .github/workflows/playwright.yml
Due: none

update test
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

update test
  .github/workflows/playwright.yml
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/e2e/src/specs/woocommerce.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add new tests
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Cleanup
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update playwright file
  .github/workflows/playwright.yml
Due: none

Fix depreciated warning
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump WordPress version
  .github/workflows/playwright.yml
Due: none

Try to fix tests
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/general.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/utils.ts
Due: none

Try to fix tests
  tests/e2e/src/block-editor.ts
Due: none

Try to fix tests
  tests/e2e/src/specs/woocommerce.spec.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
