Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add terms code
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP: Working version of AJAX status report
  assets/js/status-report/components/reports/report.js
  assets/js/status-report/components/reports/report/container.js
  assets/js/status-report/components/reports/report/content.js
  assets/js/status-report/utilities.js
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/IndexableContent.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP: Handle report loading on copy to clipboard
  assets/js/status-report/components/reports.js
Due: 10up-toolkit lint-js

Execute the ep_remote_request action even on non-blocking requests
  includes/classes/Elasticsearch.php
  tests/php/TestElasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix number_format call in timer_stop
  includes/classes/Command/Utility.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Finalize report loading via Ajax
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  assets/js/status-report/components/reports/report/pendingContent.js
  assets/js/status-report/utilities.js
  includes/classes/Screen/StatusReport.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add nonce checking
  assets/js/status-report/components/reports.js
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/IndexableContent.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use messages to render ajax report notices
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  assets/js/status-report/components/reports/report/pendingContent.js
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/IndexableContent.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Should return earlier on plain text report if ajax
  assets/js/status-report/components/reports.js
  includes/classes/Screen/StatusReport.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for terms
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Term/Term.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Display the current status of a doc in ES
  assets/css/general.css
  includes/classes/Indexable/Post/Post.php
  includes/dashboard.php
  package.json
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Display an explanation for each status
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Merge e2e test
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Update messages and add filters
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move things to SyncManater + unit tests
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Post/SyncManager.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test the SyncManager::is_post_indexable method
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Check if the doc status div exists
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Update the element ID
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Exit full screen mode
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Try another way to exit the full screen mode
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Add missing }
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

Reload the page
  tests/cypress/integration/general.cy.js
Due: 10up-toolkit lint-js

CSS Nesting
  assets/css/general.css
Due: 10up-toolkit lint-style

Fix: Comment sync issue during the pagination.
  includes/classes/Indexable/Comment/Comment.php
  tests/php/indexables/TestComment.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Indexable/Comment/Comment.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow doc status explanation to have multiple lines and lists
  assets/css/general.css
Due: 10up-toolkit lint-style

Add ordering by ID for posts and terms in query_db
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
  tests/php/indexables/TestPost.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add ordering clause for comment
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Term/Term.php
  tests/php/indexables/TestComment.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Term sync issue during the pagination
  includes/classes/Indexable/Term/Term.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Date query not apply correctly when inclusive is set to true
  includes/classes/Indexable/Post/DateQuery.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Implement get single report by slug
  includes/classes/Screen/StatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  includes/classes/Screen/StatusReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit test
  includes/classes/Screen/StatusReport.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Prepare WP_Ajax_UnitTestCase
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix factory erroring
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add ajax tests
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update button copy
  assets/js/status-report/components/reports.js
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
