Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make pt_BR available
  tests/php/TestDashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting issue
  includes/classes/Feature/Documents/Documents.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Acknowledge all default modules as ES plugins
  includes/classes/Elasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor refactor + some unit tests
  includes/classes/Feature/Facets/Facets.php
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Reset pagenow
  tests/php/features/TestFacet.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make sure the mapping exists before trying to change it
  includes/classes/Feature/Search/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add aggregations back to the query
  includes/classes/Elasticsearch.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make sure $query_object is in fact an object (it could be null)
  includes/classes/Elasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix WooCommerce tests
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

New ep_post_test_meta_value filter
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Automated tests with ES 8
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
  package.json
Due: none

Extend ES config + debug
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
Due: none

Allow some delay from ES
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
Due: none

Retry on all errors
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
Due: none

Unit tests use a different URL
  .github/workflows/test.yml
Due: none

Bump ES max supported version
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust version numbers
  elasticpress.php
  tests/cypress/wordpress-files/test-plugins/unsupported-elasticsearch-version.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow all indices deletion
  bin/es-docker/elasticsearch.yml
Due: none

Use docker ES
  .github/workflows/test.yml
Due: none

Just check if memory was set
  tests/php/TestStats.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Name standards
  .github/workflows/cypress-tests.yml
  .github/workflows/test.yml
Due: none

Adjust test names
  .github/workflows/test.yml
Due: none

Fix Synonyms case sensitive issue
  includes/classes/Feature/Search/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add test
  tests/php/features/TestSynonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  tests/php/features/TestSynonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update test
  includes/classes/Feature/Search/Synonyms.php
  tests/php/features/TestSynonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  includes/classes/Feature/Search/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add HPOS compatibility notice for WooCommerce Orders
  includes/classes/Feature/WooCommerce/Orders.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Lint fix
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Increment block API versions.
  assets/js/blocks/comments/block.json
  assets/js/blocks/facets/meta-range/block.json
  assets/js/blocks/facets/meta/block.json
  assets/js/blocks/facets/post-type/block.json
  assets/js/blocks/facets/taxonomy/block.json
  assets/js/blocks/related-posts/block.json
Due: none

Don't open instant results modal if an autosuggest suggestion is selected.
  assets/js/autosuggest/index.js
  assets/js/instant-results/apps/modal.js
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Add tooltips for meta keys to the weighting screen.
  assets/js/weighting/components/field.js
  assets/js/weighting/components/group.js
Due: 10up-toolkit lint-js

Better isolate Orders Autosuggest + message about compatibility
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit tests
  includes/classes/Feature/WooCommerce/Orders.php
  tests/php/features/WooCommerce/TestWooCommerce.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New unit tests
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add $context to get_capability()
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/REST/SearchOrdering.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Modernize ep_highlight_excerpt to deal with block content
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update includes/classes/Feature/Search/Synonyms.php
  includes/classes/Feature/Search/Synonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Refactor Term::format_args
  includes/classes/Indexable/Term/Term.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
