Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Adjust release date
  CHANGELOG.md
  readme.txt
Due: none

In Terms Indexable`query_db`, for term count, use `wp_count_terms()` instead of `WP_Term_Query` to avoid `_prime_term_caches`
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

PHP Fix: PHP Deprecated: json_encode(): Passing null to parameter #2 (#206)
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Fatal error undefined method ElasticPress\IndexHelper::process_error_limit() (#205)
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adds filter for facet the block editor for posts
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Typecast variable
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP: Updated synonyms UI.
  assets/js/synonyms/apps/synonyms-settings.js
  assets/js/synonyms/components/SynonymsEditor.js
  assets/js/synonyms/components/editors/SolrEditor.js
  assets/js/synonyms/components/hyponyms.js
  assets/js/synonyms/components/list-table-row.js
  assets/js/synonyms/components/list-table.js
  assets/js/synonyms/components/replacements.js
  assets/js/synonyms/components/shared/edit-panel.js
  assets/js/synonyms/components/shared/tab.js
  assets/js/synonyms/components/synonyms.js
  assets/js/synonyms/config.js
  assets/js/synonyms/context.js
  assets/js/synonyms/index.js
  assets/js/synonyms/provider.js
  assets/js/synonyms/reducers/editorReducer.js
  assets/js/synonyms/style.css
  assets/js/synonyms/utils.js
  includes/classes/Feature/Search/Synonyms.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Display grouped error messages with solutions.
  assets/js/sync-ui/components/errors.js
  assets/js/sync-ui/components/log.js
  assets/js/sync-ui/components/messages.js
  assets/js/sync-ui/css/errors.css
  assets/js/sync-ui/style.css
  assets/js/sync/index.js
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Add parameters to disable caching
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Pull in https://github.com/10up/ElasticPress/pull/3791
  includes/classes/Indexable/Term/Term.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Avoid using a hard coded list of order post types
  includes/classes/Feature/WooCommerce/Orders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Do not get allowed parameters so often
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow composer.json to be in the export zip file
  .gitattributes
Due: none

Bump version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

EP 5.0.2 Initial changelog
  CHANGELOG.md
Due: none

WP.org changelog
  readme.txt
Due: none

Update .pot file
  lang/elasticpress.pot
Due: none

5.0.2 Release date
  CHANGELOG.md
  readme.txt
Due: none

Move check to maybe_add_epio_settings_schema
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

deploy: 4c3e1caa6f67e4d25c96536fb1e8554f1ba9ee4a
  elasticpress.php.html
  ep_indexable_taxonomies.html
  ep_prepare_term_meta_allowed_protected_keys.html
  ep_prepare_term_meta_excluded_public_keys.html
  ep_prepare_term_meta_whitelist_key.html
  ep_term_all_query_db_args.html
  ep_term_query_db_args.html
  includes_classes_Feature_Autosuggest_Autosuggest.php.html
  includes_classes_Feature_WooCommerce_Orders.php.html
  includes_classes_Indexable_Term_Term.php.html
Due: none

Updated synonyms UI.
  assets/js/settings-screen/index.js
  assets/js/settings-screen/style.css
  assets/js/sync-ui/components/previous-sync.js
  assets/js/sync-ui/components/progress.js
  assets/js/synonyms/apps/synonyms-settings.js
  assets/js/synonyms/components/common/edit-panel.js
  assets/js/synonyms/components/common/group-tab.js
  assets/js/synonyms/components/common/list-table.js
  assets/js/synonyms/components/common/row-actions.js
  assets/js/synonyms/components/editors/AlternativeEditor.js
  assets/js/synonyms/components/editors/AlternativesEditor.js
  assets/js/synonyms/components/editors/SetsEditor.js
  assets/js/synonyms/components/editors/solr-editor.js
  assets/js/synonyms/components/editors/visual-editor.js
  assets/js/synonyms/components/groups/hyponyms.js
  assets/js/synonyms/components/groups/replacements.js
  assets/js/synonyms/components/groups/synonyms.js
  assets/js/synonyms/components/hyponyms.js
  assets/js/synonyms/components/icons/error.js
  assets/js/synonyms/components/list-table-row.js
  assets/js/synonyms/components/list-table.js
  assets/js/synonyms/components/replacements.js
  assets/js/synonyms/components/shared/LinkedMultiInput.js
  assets/js/synonyms/components/shared/edit-panel.js
  assets/js/synonyms/components/shared/tab.js
  assets/js/synonyms/components/synonyms.js
  assets/js/synonyms/config.js
  assets/js/synonyms/css/edit-panel.css
  assets/js/synonyms/css/error-badge.css
  assets/js/synonyms/css/list-table.css
  assets/js/synonyms/css/panel.css
  assets/js/synonyms/css/solr-editor.css
  assets/js/synonyms/index.js
  assets/js/synonyms/provider.js
  assets/js/synonyms/style.css
  assets/js/synonyms/utils.js
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/REST/Synonyms.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix updating rules on save.
  assets/js/synonyms/provider.js
Due: 10up-toolkit lint-js

Updated synonyms tests.
  includes/classes/Feature/Search/Synonyms.php
  tests/cypress/integration/features/search/synonyms.cy.js
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update synonym examples.
  assets/js/synonyms/components/groups/hyponyms.js
  assets/js/synonyms/components/groups/replacements.js
  assets/js/synonyms/components/groups/synonyms.js
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/REST/Synonyms.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix inconsistent spacing in synonym comments.
  assets/js/synonyms/utils.js
Due: 10up-toolkit lint-js

Tweak to synonyms copy.
  assets/js/synonyms/components/groups/synonyms.js
Due: 10up-toolkit lint-js

Update synonyms unit tests.
  tests/php/features/TestSynonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

issue #3794
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Add new filter for weighting options
  assets/js/weighting/components/group.js
  includes/dashboard.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use window.gtag or window.dataLayer.push
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Do not show the Autosuggest Endpoint URL field for EP.io users
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Media search returns no return in admin dashboard
  includes/classes/Feature/Documents/Documents.php
  tests/php/features/TestDocuments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use site factory
  tests/php/TestDashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

bypass cache
  .github/workflows/test.yml
Due: none

Debug
  .github/workflows/test.yml
  tests/php/TestDashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
