Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(woocommerce): add @since 5.3.4 tags
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(settings): autocomplete off on token field
  includes/partials/settings-page.php
  tests/e2e/src/specs/settings-token.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Set version to 6.2
  .github/workflows/playwright.yml
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/general.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/utils.ts
Due: none

Try to fix tests
  .github/workflows/playwright.yml
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/general.spec.ts
  tests/e2e/src/specs/related-posts.spec.ts
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/e2e/src/utils.ts
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump plugin version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Bump WordPress "Tested up to"
  readme.txt
Due: none

5.3.4 initial changelog
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Lint fix
  includes/classes/ElementorUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  includes/classes/Feature/WooCommerce/Orders.php
  tests/e2e/src/block-editor.ts
  tests/e2e/src/specs/woocommerce.spec.ts
  tests/php/features/WooCommerce/TestWooCommerce.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix: prevent float drift in woo price filter tax adjustment
  includes/classes/Feature/WooCommerce/Products.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

enhancement(settings): add remove token checkbox
  CHANGELOG.md
  includes/classes/Screen/Settings.php
  includes/partials/settings-page.php
  tests/e2e/src/specs/settings-token.spec.ts
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(ci): sync with develop and resolve CI failures
  includes/classes/ElementorUtils.php
  tests/php/screen/TestSettings.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(readme): bump Tested up to 7.1
  readme.txt
Due: none

feat: add self-healing sync queue for failed writes
  elasticpress.php
  includes/classes/Command.php
  includes/classes/FailedWrites.php
  includes/classes/Indexable.php
  includes/classes/Upgrades.php
  tests/php/TestFailedWrites.php
  uninstall.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(woocommerce): do not integrate queries for product variations
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/TestProtectedContent.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
  tests/php/features/WooCommerce/TestWooCommerceOrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New Code
  includes/classes/ElementorUtils.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Improve code
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOSQuery.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Don't use Es if orders are syncing
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Disable post cache for cross-site queries
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/indexables/TestPostMultisite.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cleanup
  includes/classes/ElementorUtils.php
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

test: make settings token spec pass on non-EPIO matrix
  tests/e2e/src/specs/settings-token.spec.ts
Due: none

fix(post): guard the post_author read in format_hits_as_posts
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

update version from 5.4.0 to 5.3.4
  includes/classes/Feature/InstantResults/InstantResults.php
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Sanitize Instant Results exclusion getters
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust copy
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

fix(settings): checkbox size and constant guard
  assets/css/dashboard.css
  includes/partials/settings-page.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Set post_cache to false when external Object cache is in use
  includes/classes/Indexable/Post/QueryIntegration.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Node 24 + Fixes + Drop IE 11 checks
  .browserslistrc
  .github/workflows/build-and-tag.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-with-vendor-prefixed.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-playwright-utils.yml
  .github/workflows/wordpress-latest.yml
  .nvmrc
  assets/js/blocks/comments/index.js
  assets/js/blocks/facets/date/index.js
  assets/js/blocks/facets/meta-range/index.js
  assets/js/blocks/facets/meta/index.js
  assets/js/blocks/facets/post-type/index.js
  assets/js/blocks/facets/taxonomy/index.js
  assets/js/blocks/related-posts/index.js
  assets/js/synonyms/components/common/row-actions.js
  package-lock.json
  package.json
  postcss.config.js
Due: 10up-toolkit lint-js

Initial CSS fixes
  .stylelintrc
  assets/css/autosuggest.css
  assets/css/dashboard.css
  assets/css/facets.css
  assets/css/general.css
  assets/css/instant-results/input.css
  assets/css/instant-results/modal.css
  assets/css/instant-results/panel.css
  assets/css/instant-results/results.css
  assets/css/instant-results/utilities.css
  assets/js/sync-ui/css/log.css
  assets/js/sync-ui/css/progress.css
  assets/js/synonyms/css/edit-panel.css
  assets/js/synonyms/css/solr-editor.css
Due: 10up-toolkit lint-style

Ignore some CSS rules
  assets/css/autosuggest.css
  assets/css/dashboard.css
  assets/css/facets.css
  assets/css/ordering.css
  assets/css/related-posts-block.css
  assets/css/synonyms.css
  assets/js/features/style.css
  assets/js/sync-ui/css/advanced-control.css
  assets/js/weighting/css/field.css
Due: 10up-toolkit lint-style

Overrides to fix vulnerabilities
  package-lock.json
  package.json
Due: none

Compatibility with the icons package
  assets/js/instant-results/components/common/modal.js
  assets/js/instant-results/components/common/panel.js
  assets/js/instant-results/components/tools/active-constraints.js
  assets/js/instant-results/components/tools/sidebar-toggle.js
  assets/js/synonyms/components/common/list-table.js
  assets/js/synonyms/components/common/row-actions.js
  assets/js/utils/icons.js
  assets/js/weighting/components/field.js
Due: 10up-toolkit lint-js

Disables HPOS
  bin/setup-e2e-env.sh
Due: none

Fix E2E tests
  includes/classes/Screen/Settings.php
  includes/partials/settings-page.php
  tests/e2e/src/specs/settings-token.spec.ts
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Revert some changes, disable hpos differently
  assets/js/instant-results/components/common/modal.js
  assets/js/instant-results/components/common/panel.js
  assets/js/instant-results/components/tools/active-constraints.js
  assets/js/instant-results/components/tools/sidebar-toggle.js
  assets/js/synonyms/components/common/list-table.js
  assets/js/synonyms/components/common/row-actions.js
  assets/js/utils/icons.js
  assets/js/weighting/components/field.js
  bin/setup-e2e-env.sh
  package-lock.json
  package.json
  tests/e2e/src/specs/woocommerce.spec.ts
Due: 10up-toolkit lint-js

e2e setup update
  .env.example
  .gitattributes
  .github/workflows/playwright.yml
  .gitignore
  .wp-env.json
  CHANGELOG.md
  Makefile
  bin/install-wp-cli.sh
  bin/setup-e2e-env.sh
  bin/wp-env-cli
  package.json
  tests/e2e/README.md
  tests/e2e/src/specs/documents.spec.ts
  tests/e2e/src/utils.ts
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
