Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Implement SettingsScreenProvider for weighting settings.
  assets/css/weighting.css
  assets/css/weighting/post-type.css
  assets/js/sync-ui/index.js
  assets/js/weighting/apps/settings-page.js
  assets/js/weighting/apps/weighting.js
  assets/js/weighting/components/group.js
  assets/js/weighting/components/post-type.js
  assets/js/weighting/css/action.css
  assets/js/weighting/css/add-new.css
  assets/js/weighting/css/field.css
  assets/js/weighting/css/post-type.css
  assets/js/weighting/index.js
  assets/js/weighting/provider.js
  assets/js/weighting/style.css
  includes/dashboard.php
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Migrate Status Report to SettingsScreenProvider.
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  assets/js/status-report/config.js
  assets/js/status-report/index.js
  assets/js/status-report/style.css
  includes/classes/Screen/StatusReport.php
  includes/partials/status-report-page.php
  package.json
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add missing permission callbacks.
  includes/classes/REST/Comments.php
  includes/classes/REST/RelatedPosts.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update sync provider to use sync history.
  assets/js/sync/index.js
Due: 10up-toolkit lint-js

Use sync history instead of last sync time.
  assets/js/sync-ui/apps/sync.js
  assets/js/sync-ui/components/controls.js
  assets/js/sync-ui/config.js
  assets/js/sync-ui/index.js
  includes/classes/Screen/Sync.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Display sync history.
  assets/js/sync-ui/apps/sync.js
  assets/js/sync-ui/components/icons/error.js
  assets/js/sync-ui/components/icons/success.js
  assets/js/sync-ui/components/previous-sync.js
  assets/js/sync-ui/components/sync-history.js
  assets/js/sync-ui/css/previous-sync.css
  assets/js/sync-ui/css/sync-history.css
  assets/js/sync-ui/style.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Tests for ElasticsearchErrorInterpreter
  includes/classes/ElasticsearchErrorInterpreter.php
  tests/php/TestElasticsearchErrorInterpreter.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix test
  tests/php/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move unit test
  tests/php/REST/TestSearchOrdering.php
  tests/php/features/TestSearchOrdering.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Open issues when a new WP version is released
  .github/workflows/wordpress-latest.yml
Due: none

Bump PHP required version (7.0 -> 7.4)
  .github/hookdoc-tmpl/README.md
  README.md
  composer.json
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump min WP version (5.6 => 6.0)
  .github/hookdoc-tmpl/README.md
  README.md
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix failures appearing as succeeded.
  assets/js/sync-ui/components/sync-history.js
  assets/js/sync-ui/css/previous-sync.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Aggregate different errors by type
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove direct access to 'ep_index_meta'
  includes/classes/REST/Sync.php
  includes/partials/dashboard-page.php
  includes/partials/settings-page.php
  includes/partials/stats-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Log final status
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check if index_meta was already deleted
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove user related files
  elasticpress.php
  includes/classes/Feature/Users/Users.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/User/QueryIntegration.php
  includes/classes/Indexable/User/SyncManager.php
  includes/classes/Indexable/User/User.php
  includes/mappings/user/7-0.php
  includes/mappings/user/initial.php
  includes/mappings/user/pre-5-0.php
  tests/cypress/integration/indexables/user.cy.js
  tests/cypress/support/index.js
  tests/php/TestFeatureActivation.php
  tests/php/indexables/TestUser.php
  uninstall.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check failed instead of errors
  includes/classes/IndexHelper.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add a global indexable for tests
  tests/php/TestCommands.php
  tests/php/TestFeatureActivation.php
  tests/php/bootstrap.php
  tests/php/includes/classes/mock/Global/Feature.php
  tests/php/includes/classes/mock/Global/Indexable.php
  tests/php/includes/classes/mock/Global/mapping.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix lint
  tests/php/includes/classes/mock/Global/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Remove SyncManagerAbstract references
  includes/classes/Indexable/Comment/SyncManager.php
  includes/classes/Indexable/Post/SyncManager.php
  includes/classes/Indexable/Term/SyncManager.php
  includes/classes/Indexable/User/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump minimum WP to 6.0
  .github/workflows/cypress-tests.yml
Due: none

Support aborted syncs in sync history.
  assets/js/sync/index.js
  includes/classes/REST/Sync.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use final_status to display sync status.
  assets/js/sync-ui/components/previous-sync.js
  assets/js/sync-ui/components/sync-history.js
  assets/js/sync-ui/css/previous-sync.css
Due: 10up-toolkit lint-style, 10up-toolkit lint-js

Fix schema errors in feature settings.
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Facets/Facets.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add dashboard screen with feature settings API.
  includes/classes/REST/Features.php
  includes/classes/Screen.php
  includes/classes/Screen/Dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Only add settings with labels to args.
  includes/classes/REST/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add #3666 and #3671
  CHANGELOG.md
Due: none

Fix ep_woocommerce_default_supported_post_types calls
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/Products.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Check if the order exists
  includes/classes/Feature/WooCommerce/Orders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Flush rewrite rules during plugin activation
  tests/cypress/wordpress-files/test-plugins/cpt-and-custom-tax.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Make sure post_status is always passed as an array
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix @since tags.
  includes/classes/Screen/Dashboard.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Move intercepts.
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

Update endpoint paths.
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

composer update
  composer.lock
Due: none

Only use array_values if is array
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump wait time
  tests/cypress/integration/features/comments.cy.js
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
