Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit test for is_top_level_admin_context
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Do not show EP on subsites if not installed yet
  includes/classes/AdminNotices.php
  includes/dashboard.php
  tests/php/TestScreen.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Allow metakeys to be indexed on multisite
  tests/php/indexables/TestPostMultisite.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: HTML escape issue on the install page
  includes/partials/install-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix: Sync page URL after enabling the feature that requires sync
  assets/js/sync/src/utilities.js
Due: 10up-toolkit lint-js

Fix: Post type setting wasn't respected during sync
  assets/js/sync-ui/components/indexables.js
  assets/js/sync-ui/components/post-types.js
  assets/js/sync-ui/provider.js
Due: 10up-toolkit lint-js

Adjust feedback
  includes/partials/install-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Default implementation of set_settings_schema + textarea fields
  assets/js/features/components/control.js
  includes/classes/Feature.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix typo
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit test for set_settings_schema
  tests/php/TestFeature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Cast active setting in a boolean
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update radio and checkbox settings from booleans to strings
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Send no-cache headers to sync related API calls
  includes/classes/REST/Sync.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Avoid calling set_settings_schema twice
  includes/classes/Feature.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Only change settings if they exist already
  includes/classes/Upgrades.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

ENDPOINT URL field is not URL field
  assets/js/features/components/control.js
Due: 10up-toolkit lint-js

Fix: Console error when clicking on the 'Instant Resultss'
  assets/js/features/components/feature.js
Due: 10up-toolkit lint-js

Fix sync icon.
  assets/js/sync-ui/components/icons/sync.js
  assets/js/sync-ui/components/progress.js
Due: 10up-toolkit lint-js

Add target _blank to install page link.
  includes/partials/install-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Make checkboxes look more obviously disabled.
  assets/js/features/style.css
  assets/js/sync-ui/css/panel.css
Due: 10up-toolkit lint-style

Prevent error when a request is intentionally aborted.
  assets/js/sync/src/hooks.js
Due: 10up-toolkit lint-js

Prevent negative object ID ranges.
  assets/js/sync-ui/apps/sync.js
  assets/js/sync-ui/components/controls.js
  assets/js/sync-ui/components/limits.js
Due: 10up-toolkit lint-js

Fix JS error when multiple status notices appear.
  assets/js/features/components/feature.js
Due: 10up-toolkit lint-js

Limit sync history to 5 syncs.
  assets/js/sync-ui/components/sync-history.js
Due: 10up-toolkit lint-js

Fix: Stops a JS error appearing when sync requests are intentionally aborted
  assets/js/sync/index.js
  assets/js/sync/src/hooks.js
Due: 10up-toolkit lint-js

Copy changes
  assets/js/features/index.js
  assets/js/sync-ui/components/offset.js
  assets/js/sync-ui/components/put-mapping.js
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix unit tests
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestComments.php
  tests/php/features/TestSearchOrdering.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Copy adjustment
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

ElasticPress 5.0 screenshots
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
Due: none

Add latest PRs
  CHANGELOG.md
Due: none

When updating a feature, its draft should always be saved
  includes/classes/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

If an auto-activated feature requires a sync, save it as a draft
  includes/classes/Features.php
  includes/classes/REST/Features.php
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust test
  tests/php/TestFeatureActivation.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Better check of errors in ES responses
  includes/classes/ElasticsearchErrorInterpreter.php
  includes/utils.php
  tests/php/TestUtils.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Better handle WP_Errors
  includes/classes/Elasticsearch.php
  includes/classes/QueryLogger.php
  includes/classes/StatusReport/FailedQueries.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add unit test
  tests/php/TestQueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix lint
  tests/php/TestQueryLogger.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix Orders Autosuggest compatibility with HPOS.
  assets/css/woocommerce/admin/orders.css
  assets/js/woocommerce/admin/orders/index.js
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update troubleshooting link
  assets/js/sync/src/hooks.js
Due: 10up-toolkit lint-js

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
