Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Simplify #d73c38 color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #b93431 color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #999 color in favor of global
  assets/css/dashboard.css
  assets/css/ordering.css
Due: 10up-toolkit lint-style

Simplify #0073aa color in favor of global
  assets/css/ordering.css
Due: 10up-toolkit lint-style

Simplify #5e5e5e color in favor of global
  assets/css/facets.css
Due: 10up-toolkit lint-style

Simplify #8c8f94 color in favor of global
  assets/css/dashboard.css
  assets/css/woocommerce/admin/components/combobox.css
Due: 10up-toolkit lint-style

Simplify #666 color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #000 color in favor of global
  assets/css/autosuggest.css
Due: 10up-toolkit lint-style

Simplify #aaa color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #bbb color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #72777c color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #ccc color in favor of global
  assets/css/autosuggest.css
  assets/css/dashboard.css
  assets/css/facets.css
Due: 10up-toolkit lint-style

Simplify #ffe8ed color in favor of global
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Simplify #fdeeca color in favor of global
  assets/css/ordering.css
Due: 10up-toolkit lint-style

Add color globals
  assets/css/global/colors.css
Due: 10up-toolkit lint-style

Consolidate status colors
  assets/css/dashboard.css
Due: 10up-toolkit lint-style

Resolves path issue
  assets/css/woocommerce/admin/orders.css
Due: 10up-toolkit lint-style

Resolve @nest lint issues
  assets/css/facets.css
  assets/css/instant-results/modal.css
  assets/css/instant-results/pagination.css
  assets/css/instant-results/panel.css
  assets/css/instant-results/sort.css
  assets/css/instant-results/tokens.css
  assets/css/woocommerce/admin/components/combobox.css
  assets/css/woocommerce/admin/components/suggestion.css
  assets/js/sync-ui/css/advanced-control.css
  assets/js/sync-ui/css/progress-bar.css
  assets/js/synonyms/css/list-table.css
Due: 10up-toolkit lint-style

Resolve currentcolor warning
  assets/css/instant-results/range-slider.css
Due: 10up-toolkit lint-style

Add back methods to prevent fatal for users
  includes/classes/Feature/Search/Weighting.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Display autosuggest results on focus back
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Add e2e test
  tests/cypress/integration/features/autosuggest.cy.js
Due: 10up-toolkit lint-js

Bugfix: key up on index 0 never leaves suggestion list
  assets/js/autosuggest/index.js
Due: 10up-toolkit lint-js

Fix: Function _load_textdomain_just_in_time was called incorrectly
  includes/classes/Feature.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/Facets/Facets.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Feature/Terms/Terms.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
  includes/classes/Features.php
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
  tests/php/features/TestAutosuggest.php
  tests/php/features/TestComments.php
  tests/php/features/TestDidYouMean.php
  tests/php/features/TestSearchOrdering.php
  tests/php/indexables/TestPost.php
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix linting
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Feature/Search/Search.php
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove extra new line
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove extra space
  assets/css/instant-results.css
Due: 10up-toolkit lint-style

Remove extra line
  assets/css/instant-results/sort.css
Due: 10up-toolkit lint-style

Remove additional var call
  assets/css/woocommerce/admin/components/combobox.css
Due: 10up-toolkit lint-style

Remove add_action arg parameter
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Restore parameter for retrocompatibility
  includes/classes/Indexable/Post/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Remove filter unused parameter
  includes/classes/Command.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add support for is_ajax feature in PHP report
  includes/classes/StatusReport/Indices.php
  includes/classes/StatusReport/Report.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

WIP: Report panel body variations
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/IndexableContent.php
  includes/classes/StatusReport/Indices.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add filter to filter Instant Resutls taxonomy facet terms
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
Due: 10up-toolkit lint-js

Add tests
  tests/cypress/integration/features/instant-results.cy.js
  tests/cypress/wordpress-files/test-plugins/filter-instant-results-facet-terms.php
Due: 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

Add missing file
  .wp-env.json
Due: none
