Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Creation of dynamic property is deprecated
  includes/classes/Feature/WooCommerce/OrdersAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Change the WooCommerce feature description
  includes/classes/Feature/WooCommerce/WooCommerce.php
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Make sure ES version is a string every time it is used in version_compare
  includes/classes/Elasticsearch.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/Feature/DidYouMean/DidYouMean.php
  includes/classes/Feature/Documents/Documents.php
  includes/classes/Feature/InstantResults/InstantResults.php
  includes/classes/Feature/RelatedPosts/RelatedPosts.php
  includes/classes/Indexable.php
  includes/classes/Indexable/Comment/Comment.php
  includes/classes/Indexable/Post/Post.php
  includes/classes/Indexable/Term/Term.php
  includes/classes/Indexable/User/User.php
  tests/php/indexables/TestTerm.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Fix check for is_preview
  includes/classes/Feature/Facets/Types/MetaRange/Renderer.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update render() calls
  assets/js/sync/index.js
  assets/js/woocommerce/admin/orders/index.js
Due: 10up-toolkit lint-js

Rename the widget and update the description displayed inside of it
  includes/classes/Feature/Facets/Types/Taxonomy/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Removing remaining reference to Facets.
  assets/js/blocks/facets/post-type/edit.js
Due: 10up-toolkit lint-js

Update widget name.
  includes/classes/Feature/Facets/Types/Taxonomy/Widget.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add latest PRs
  CHANGELOG.md
Due: none

Add PR links to deprecated entries
  CHANGELOG.md
Due: none

WP.org changelog
  CHANGELOG.md
  readme.txt
Due: none

Update .pot + add translators comment
  assets/js/instant-results/components/results/did-you-mean.js
  lang/elasticpress.pot
Due: 10up-toolkit lint-js

Update the release date
  CHANGELOG.md
  readme.txt
Due: none

Add vendor folder to the tag
  .github/workflows/build-and-tag.yml
Due: none

Fix e2e tests with WP 6.3
  .wp-env.json
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Update widget name
  tests/cypress/integration/features/facets.cy.js
Due: 10up-toolkit lint-js

New Filter ep_highlight_number_of_fragments.
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Add synonyms and weighting settings to the status report
  includes/classes/StatusReport/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Create a default_search analyzer
  includes/classes/Feature/Search/Synonyms.php
  includes/mappings/post/5-2.php
  includes/mappings/post/7-0.php
  tests/php/features/TestSynonyms.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Set shoes as an alternative for shoes
  tests/cypress/wordpress-files/test-docs/content-example.xml
Due: none

Readd word_delimiter to default_search
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Log the formatted query info
  tests/cypress/support/global-hooks.js
Due: 10up-toolkit lint-js

Remove word delimiter from default_search (again)
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Bump weight of sku variation
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Remove the word_delimiter filter
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Disable decay for woocommerce queries
  tests/cypress/integration/features/woocommerce.cy.js
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Fix Lint
  includes/mappings/post/7-0.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Wait until the setting is update
  tests/cypress/integration/features/woocommerce.cy.js
Due: 10up-toolkit lint-js

Rewrite the updateFeatures command
  tests/cypress/integration/features/woocommerce.cy.js
  tests/cypress/support/commands.js
Due: 10up-toolkit lint-js

Changed the typed term
  tests/cypress/integration/features/instant-results.cy.js
Due: 10up-toolkit lint-js

update composer dependencies
  composer.json
  composer.lock
Due: none

Force popularity order to be always DESC
  includes/classes/Feature/WooCommerce/Products.php
  tests/php/features/WooCommerce/TestWooCommerceProduct.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Woocommerce -> WooCommerce
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/Products.php
  includes/classes/Feature/WooCommerce/WooCommerce.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Update since tag
  includes/classes/StatusReport/Features.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Namespace composer packages with Strauss
  .github/workflows/build-and-tag.yml
  .github/workflows/test-build-with-vendor.yml
  .gitignore
  bin/build-zip.sh
  composer.json
  composer.lock
  elasticpress.php
  includes/classes/Container.php
  includes/classes/Exception/NotFoundException.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s

Use PHP 8.2 for everything
  .github/workflows/build-and-tag.yml
  .github/workflows/cypress-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test-build-with-vendor.yml
  .github/workflows/test.yml
  composer.json
  phpcs.xml
Due: none

composer update
  composer.lock
Due: none

Force the cypress environment to use PHP 7
  .wp-env.json
Due: none

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.0- -s: any of: *.php
