Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial changelog of EP 5.3
  CHANGELOG.md
  CREDITS.md
Due: none

Adjust feedback
  includes/classes/ElasticPressIoTemplateManager.php
  includes/classes/Feature.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust feedback
  includes/classes/ElasticPressIoTemplateManager.php
  includes/classes/Feature/InstantResults/InstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Improve code
  includes/classes/Feature/WooCommerce/Products.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix fatal error
  includes/classes/Feature/ProtectedContent/ProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial commit of the EP Admin Bar Basic Status
  assets/css/general.css
  elasticpress.php
  includes/classes/AdminBar.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix test
  tests/php/features/TestProtectedContent.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Merge the old doc status with the new admin bar status
  assets/css/general.css
  includes/classes/AdminBar.php
  includes/classes/Indexable/Post/SyncManager.php
Due: 10up-toolkit lint-style, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Unit tests
  includes/classes/Indexable/Post/SyncManager.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix PHP linting
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New tests
  tests/e2e/src/specs/general.spec.ts
  tests/php/TestAdminBar.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update changelog
  CHANGELOG.md
  CREDITS.md
Due: none

Fix autosuggest call
  .wp-env.json
  bin/setup-e2e-env.sh
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/fix-autosuggest-localhost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix the localhost value set
  tests/e2e/src/specs/autosuggest.spec.ts
Due: none

Allow autosuggest by going directly to the URL
  .wp-env.json
  bin/setup-e2e-env.sh
  includes/classes/Feature/Autosuggest/Autosuggest.php
  includes/classes/StatusReport/ElasticPressIo.php
  tests/e2e/src/specs/autosuggest.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/fix-autosuggest-localhost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

only set autosuggest on EP.io
  tests/e2e/src/specs/autosuggest.spec.ts
Due: none

Remove unused import
  tests/e2e/src/specs/autosuggest.spec.ts
Due: none

fix tests
  tests/php/features/TestInstantResults.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

add return types
  includes/classes/AdminBar.php
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update copy in the Sync page
  assets/js/sync-ui/apps/sync.js
Due: 10up-toolkit lint-js

Use EP_CREDENTIALS instead of shield + handle failed requests + avoid multiple requests
  bin/setup-e2e-env.sh
  elasticpress.php
  includes/classes/AdminBar.php
  includes/classes/ElasticPressIo.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Test messages
  .github/workflows/playwright.yml
  tests/e2e/README.md
  tests/e2e/src/specs/status-report.spec.ts
Due: none

Update 5.3 changelog
  CHANGELOG.md
Due: none

highlights
  CHANGELOG.md
Due: none

Improve changelog highlights
  CHANGELOG.md
Due: none

Update test
  tests/e2e/src/wordpress-files/test-plugins/unsupported-elasticsearch-version.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  tests/e2e/src/wordpress-files/test-plugins/unsupported-elasticsearch-version.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Updated tested version of WordPress
  readme.txt
Due: none

Pass autosuggest query args to Elasticsearch->query()
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Move notices to outside the features tabs
  assets/js/features/apps/features.js
Due: 10up-toolkit lint-js

Fix: PHP Warning: Undefined array key
  includes/classes/Indexable/Post/Post.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

New ep_get_query_log filter
  includes/classes/Elasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add unit test
  tests/php/TestElasticsearch.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

More PRs and readme.txt cleanup
  CHANGELOG.md
  CREDITS.md
  readme.txt
Due: none

Handle errors while calling prepare_document
  includes/classes/Indexable.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Tests
  .wp-env.json
  tests/e2e/src/specs/dashboard-sync.spec.ts
  tests/e2e/src/wordpress-files/test-plugins/sync-error-specific-post.php
  tests/php/TestCommands.php
  tests/php/indexables/TestPost.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add #4210 to the changelog
  CHANGELOG.md
  readme.txt
Due: none

Bump version
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Path conditions:
  10up-toolkit lint-style: any of: *.css
  10up-toolkit lint-js: any of: *.js
  ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s: any of: *.php
