Repository 10up/ElasticPress: changes, and which lint-staged commands are due for each by the changed paths.
All: 10up-toolkit lint-style, 10up-toolkit lint-js, ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

.lintstagedrc.json:

{
	"*.css": [
		"10up-toolkit lint-style"
	],
	"*.js": [
		"10up-toolkit lint-js"
	],
	"*.php": [
		"./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s"
	]
}

Conditionally set search fields for term queries in REST API requests.
  includes/classes/Indexable/Term/QueryIntegration.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update and rename `no-response.yml` to `close-stale-issues.yml`
  .github/workflows/close-stale-issues.yml
  .github/workflows/no-response.yml
Due: none

Update close-stale-issues.yml
  .github/workflows/close-stale-issues.yml
Due: none

Integrate with the Media Library AJAX request + small refactor
  includes/classes/Feature/Documents/Documents.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Adjust unit test
  tests/php/features/TestDocuments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update release instructions
  CONTRIBUTING.md
Due: none

Update version number
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial version of the 5.1.0 changelog
  CHANGELOG.md
  CREDITS.md
Due: none

Remove the ES max version supported
  README.md
Due: none

Use wp_doing_ajax() instead of DOING_AJAX constant
  includes/classes/Feature/Documents/Documents.php
  tests/php/features/TestDocuments.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Apply ngram_fields on search query when ajax and weighting enable
  includes/classes/Feature/Autosuggest/Autosuggest.php
  tests/php/features/TestAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests
  includes/utils.php
  tests/php/features/TestAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Minor change
  tests/php/features/TestAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add get_contexts_method
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Add tests
  tests/php/features/TestAutosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

minor chagne
  includes/classes/Feature/Autosuggest/Autosuggest.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix tests.
  tests/cypress/integration/features/related-posts.cy.js
  tests/cypress/support/commands.js
  tests/cypress/support/commands/block-editor.js
Due: 10up-toolkit lint-js

Try chromeWebSecurity setting.
  tests/cypress/config.js
Due: 10up-toolkit lint-js

Check for documet before removing it.
  includes/classes/Indexable/Post/SyncManager.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Use number_format_i18n and avoid formatting post ID numbers
  includes/classes/IndexHelper.php
  includes/classes/REST/Sync.php
  includes/partials/stats-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Delay load_plugin_textdomain to init and set Domain Path
  elasticpress.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Update version
  elasticpress.php
  package-lock.json
  package.json
  readme.txt
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Initial exploration of compatibility with WC HPOS
  includes/classes/Feature/WooCommerce/Orders.php
  includes/classes/Feature/WooCommerce/OrdersHPOS.php
  tests/php/features/WooCommerce/TestWooCommerceOrders.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Changelog 5.1.4
  CHANGELOG.md
  CREDITS.md
Due: none

Update composer packages
  composer.json
  composer.lock
Due: none

Use node 20
  .github/workflows/build-and-tag.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-with-vendor-prefixed.yml
  .github/workflows/cypress-tests.yml
  .github/workflows/lint.yml
  .npmrc
  .nvmrc
  package.json
Due: none

Update node packages
  package-lock.json
  package.json
  postcss.config.js
Due: 10up-toolkit lint-js

Update doc
  README.md
Due: none

Only display the Exclude From Search checkbox if the post type supports custom fields
  includes/classes/Feature/Search/Search.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

JS Format
  assets/js/blocks/facets/common/components/empty-response-placeholder.js
  assets/js/features/components/control.js
  assets/js/instant-results/components/common/checkbox-list.js
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
  assets/js/ordering/pointers.js
  assets/js/sync-ui/apps/sync.js
  assets/js/sync-ui/components/previous-sync.js
  assets/js/sync-ui/components/progress.js
  assets/js/sync/index.js
  assets/js/woocommerce/admin/orders/app/components/combobox.js
Due: 10up-toolkit lint-js

Fix PHP Lint errors
  elasticpress.php
  includes/classes/Features.php
  includes/classes/IndexHelper.php
  includes/compat.php
  tests/php/TestUtils.php
  tests/php/includes/classes/mock/class-wp-cli.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Lint cypress tests JS
  package.json
  tests/cypress/support/functions/get-iframe.js
Due: 10up-toolkit lint-js

Disable the at-rule-disallowed-list rule (to be revisited)
  .stylelintrc
Due: none

Ignore some warnings on the PHP Lint GH Action
  .github/workflows/lint.yml
Due: none

Better number formatting
  includes/classes/Command.php
  includes/partials/stats-page.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix testGetReportsSkipped
  tests/php/screen/TestStatusReport.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix date block error when date is not selected
  assets/js/blocks/facets/date/view.js
Due: 10up-toolkit lint-js

Update scripts and do not use temp tables for unit tests
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  phpunit.xml.dist
  single-site.xml.dist
  tests/php/TestHealthCheckElasticsearch.php
  tests/php/includes/classes/BaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s

Fix the order
  tests/php/TestHealthCheckElasticsearch.php
  tests/php/TestSearchAlgorithm.php
  tests/php/includes/classes/BaseTestCase.php
Due: ./vendor/bin/phpcs --extensions=php --runtime-set testVersion 7.4- -s
